<div class="_desktop-modal _column-positioner _hcenter-positioner _vcenter-positioner">
  <%= image_tag "icon_check_black", class: "modal-icon" %>
  <% if defined?(message) %>
      <p class="_fs-2 _black"><%= message %></p>
  <% end %>
</div>