<div class="_small-modal">
  <div class="_modal-white-background-m _column-positioner _hcenter-positioner">
    <div class="_small-modal-title text-center">
      <%= image_tag "icon_check_black", class: "_modal-big-icon-m" %>
      <% if defined?(message) %>
          <%= raw_text message, class: "_fs-2-mobile _black _f-letter-mobile _text-center" %>
      <% end %>
    </div>
  </div>
</div>