<div class="_small-modal">
  <div class="_modal-background _column-positioner _hcenter-positioner">
    <div class="_small-modal-title text-center">
      <%= image_tag "icon_check", class: "_modal-big-icon-m" %>
      <% if defined?(text) %>
          <p class="_fs-4-mobile _white _f-letter-mobile _text-center"><%= text %></p>
      <% end %>
    </div>
  </div>
</div>