<div class="_comment-edit-modal _desktop-small-modal">
  <div class="_column-positioner _vcenter-positioner">
    <%= link_to comment, method: :delete do %>
      <p class="_fs-3 _black">삭제</p>
    <% end %>
  </div>
</div>
