<div class="_vcenter-positioner">
  <div class="_profile-container-m">
    <%= image_tag comment.user.profile_img, class: "_profile-img" %>
  </div>
  <p class="_fs-4-mobile _white _icon-text-margin-m"><%= comment.user.nickname %></p>
  <p class="_fs-4-mobile _white _icon-text-margin-m"><%= comment.created_time %></p>
</div>
<div class="_comment-content-container-m">
  <p class="_fs-5-mobile _white">
    <%= comment.content %>
  </p>
</div>