<div class="_loading-wave-container-m _hcenter-positioner" style="display: block;">
  <div class="_loading-wave-group">
    <% for i in 1..5 %>
        <div class="loading-rect sk-rect-<%= i %>"></div>
    <% end %>
  </div>
</div>