<div class="_small-modal-title _text-center">
  <p class="_fs-4 _black _f-letter" id="modal-msg">공유하기</p>
</div>
<div class="_vcenter-positioner">
  <%= social_share_button_tag(post.title, "data-twitter-title": post.title, 'url': "#{request.original_url}") %>
</div>