<div class="_share-modal _desktop-small-modal" id="share-modal">
  <p class="_fs-3 _black" id="modal-msg">공유</p>
  <div class="_vcenter-positioner">
    <div class="social-share-button" data-title="Fly Like A Bird" data-img="" data-url="http://localhost:3000/feeds/5069" data-desc="" data-via="">
      <a class="_fs-3 _dark-gray" rel="nofollow" data-site="facebook" onclick="return SocialShareButton.share(this);" href="#">페이스북</a>
      <a class="_fs-3 _dark-gray" rel="nofollow" data-site="twitter" onclick="return SocialShareButton.share(this);" href="#">트위터</a>
    </div>
  </div>
</div>
