<div class="watch-video-info">
  <div class="black-content">댓글 <%= comments.size %>개</div>
  <hr>
  <% comments.each do |comment| %>
    <div class="content-container">
      <p class="black-title"><%= comment.user.nickname %></p>
      <div class="comment-container">
        <p class="black-content"><%= comment.content %></p>
      </div>
    </div>
  <% end %>
</div>