<div class="upcoming-index-card testline">
  <div class="row testline">
    <div class="card-substitute testline">
      <div class="card-title testline">
        title
      </div>

      <div class="card-date testline">
        date
      </div>

      <div class="card-pick-button testline">
        button
      </div>
    </div>
  </div>

  <div class="row testline">
  </div>

</div>
