<div class="card-border">
  <div class="card-thumbnail upcoming-index-card-thumbnail">
    <%= image_tag "image_live", class: "card-image upcoming-index-card-image" %>
    <div class="card-thumbnail-filter"></div>
    <div class="upcoming-index-card-title">
      하이네켄 프레젠트 스타디움 2017
    </div>
    <div class="upcoming-index-card-place">
      잠실 올림픽 주경기장
    </div>
    <div class="upcoming-index-card-date">
      2017.01.01(일)
    </div>
    <div class="upcoming-index-card-pick-button">
      찜버튼
    </div>
  </div>

  <div class="card-describe">
    <div class="row upcoming-index-card-row">
      <div class="text-describe-title col-xs-8 upcoming-index-card-lineup">
        크러쉬, 악동뮤지션, 볼빨간사춘기, 정현우, ...
      </div>
      <div class="col-xs-2"></div>
      <div class="col-xs-2 upcoming-index-card-dday">
        D-35
      </div>
    </div>
  </div>
</div>
