<div class="artist-profile _hcenter-positioner _vcenter-positioner"
     data-button-id=<%= target_player_id %>
     style="background: url(<%= image_url %>) no-repeat center center; background-size: cover;">
  <p class="_fs-2-mobile _white"><%= name %></p>
</div>