<div class="line-up-card artist-profile" data-button-id="<%= target_player_id %>">
  <%= image_tag image_url, class: "_profile-img-square" %>
  <div class="_full-container _hcenter-positioner _vcenter-positioner">
    <p class="_fs-3 _white"><%= name %></p>
  </div>
</div>