<div class="_video-player">
  <% if upcoming.main_video %>
  <iframe id="youtube-player" type="text/html"
  src="http://www.youtube.com/embed/<%= upcoming.main_video.youtube_id %>?version=3&enablejsapi=1&controls=0&rel=0&autoplay=1&showinfo=0&autohide=1&playsinline=1&iv_load_policy=3&modestbranding=1&loop=1&playlist=<%=upcoming.main_video.youtube_id
  %>"
  webkitallowfullscreen mozallowfullscreen allowFullScreen frameborder="0"></iframe>
  <% end %>
  <div class="thumbnail-filter _vbottom-positioner _hright-positioner">
    <%= image_tag like_true(upcoming.id) ? "icon_hand_filled" : "icon_hand_empty", class: "upcoming-icon" %>
  </div>
</div>
