<div class="ticket-modal _desktop-modal _column-positioner _vcenter-positioner">
  <div class="ticket-modal-title">
    <p class="_fs-title _f-family-tmon _dark-gray">티켓 바로가기</p>
  </div>
  <hr style="width: 100%">
  <div class="ticket-button-group _column-positioner _vcenter-positioner _hcenter-positioner">
    <% upcoming.upcoming_ticket_urls.each do |ticket| %>
        <% if ticket.provider != nil %>
            <%= link_to ticket.ticket_url, target: :_blank, class: "ticket-button _vcenter-positioner _hcenter-positioner" do %>
                <%= image_tag "logo_#{ticket.provider}", class: "ticket-logo" %>
            <% end %>
        <% end %>
    <% end %>
  </div>
</div>
