<header>
  <div class="row">
    <div class="col-xs-offset-4 col-xs-4">
      <div class="text-center">
        <h1>UPCOMINGS</h1>
      </div>
    </div>
  </div>
</header>

<section id="upcoming-lists">
  <% for i in 1..5 %>
    <%= render "index_card" %>
  <% end %>
</section>
