<header>
  <div class="row">
    <div class="col-xs-offset-4 col-xs-4">
      <div class="text-center">
        <h1>UPCOMINGS</h1>
      </div>
    </div>
  </div>  
</header>

<section id="upcoming-lists">
  <% @upcomings.each do |upcoming| %>
    <a href="upcomings/<%= upcoming.id %>/watch" method="get">
      <%= render partial: "index_card", locals: {upcoming: upcoming} %>
    </a>
  <% end %>
</section>

<!-- Bottom Navbar -->
<%= render partial: "partial_views/bottom_navbar" %>