<div id="upcoming-index">
  <div class="upcoming-card-group _column-positioner _vcenter-positioner">
    <div class="_desktop-container" id="upcomings-card-list">
      <%= render partial: "ticket_card_desktop", collection: @upcomings, as: :upcoming %>
    </div>

    <div id="infinite-scrolling" class="_display-none">
      <%= will_paginate @upcomings %>
    </div>
  </div>
</div>