<div id="upcoming-index">
  <div class="upcoming-card-group _hcenter-positioner">
    <div class="_desktop-container">
      <%= render partial: "index_card_desktop", collection: @upcomings, as: :upcoming %>
    </div>
  </div>
</div>