<header>
  <div class="row">
    <div class="col-xs-offset-4 col-xs-4">
      <div class="text-center">
        <h1>UPCOMINGS</h1>
      </div>
    </div>
  </div>  
</header>

<section id="upcoming-list-container">
  <%= render partial: "index_card", collection: @upcomings, as: :upcoming %>
</section>

<div id="infinite-scrolling">
  <%= will_paginate @upcomings %>
</div>

<!-- Bottom Navbar -->
<%= render partial: "partial_views/bottom_navbar" %>