<header>
  <div class="row">
    <div class="col-xs-offset-4 col-xs-4">
      <h1>LIVLE</h1>
    </div>
  </div>
</header>

<section id="upcoming-lists">
  <% for i in 1..5 %>
    <%= render "index_card" %>
  <% end %>
</section>

<nav class="bottom-nav" id="feed-nav">
  <div class="row">
    <div class="nav-element">
    </div>
    <div class="nav-element">
    </div>
    <div class="nav-element">
    </div>
  </div>
</nav>

<footer>
  <!--created by : 정현우, 원지운 -->
</footer>
