<div id="upcoming-index-mobile">
  <div class="_logo-background _hcenter-positioner">
    <%= image_tag "logo_livle", class: "_logo-container-m" %>
  </div>

  <div class="_cards-group-container-m" id="upcomings-card-list-m">
    <%= render partial: "index_card_mobile", collection: @upcomings, as: :upcoming %>
  </div>

  <div id="infinite-scrolling" class="_display-none">
    <%= will_paginate @upcomings %>
  </div>
</div>