<header>
  <div class="row">
    <div class="col-xs-offset-4 col-xs-4">
      <div class="text-center">
        <h1>LIVLE</h1>
      </div>
    </div>
  </div>
</header>

<section id="feed-lists">
  <% @feeds.each do |feed| %>
    <a href="feeds/<%= feed.id %>/watch" method="get">
      <%= render partial: "index_card", locals: {feed: feed} %>
    </a>
  <% end %>
</section>

<div id="infinite-scrolling">
  <%= will_paginate @posts %>
</div>

<!-- Bottom Navbar -->
<%= render partial: "partial_views/bottom_navbar" %>
