<header>
  <div class="row">
    <div class="col-xs-offset-4 col-xs-4">
      <div class="text-center">
        <h1>LIVLE</h1>
      </div>
    </div>
  </div>
</header>

<section id="feed-list-container">
  <%= render partial: "index_card", collection: @feeds, as: :feed %>
</section>

<div id="infinite-scrolling">
  <%= will_paginate @feeds %>
</div>

<!-- Bottom Navbar -->
<%= render partial: "partial_views/bottom_navbar" %>
