<div id="feeds-index-mobile">
  <div class="_hcenter-positioner">
    <div class="_logo-background _hcenter-positioner">
      <%= image_tag "logo_livle", class: "_logo-container-m" %>
    </div>
  </div>

  <div class="_cards-group-container-m" id="feeds-card-list-m">
    <%= render partial: 'index_card_mobile', collection: @feeds, as: :feed %>
  </div>

  <div class="_display-none" id="infinite-scrolling">
    <%= will_paginate @feeds %>
  </div>
</div>
