<header>
  <div class="row">
    <div class="col-xs-offset-4 col-xs-4">
      <div class="text-center">
        <h1>LIVLE</h1>
      </div>
    </div>
  </div>
</header>

<section id="feed-lists">
  <% @feeds.each do |feed| %>
    <%= render partial: "index_card", locals: {feed: feed} %>
  <% end %>
</section>

<nav class="bottom-nav" id="feed-nav">
  <div class="row">
    <div class="nav-element">

    </div>
    <div class="nav-element">

    </div>
    <div class="nav-element">

    </div>
    <div class="nav-element">

    </div>
    <div class="nav-element">

    </div>
  </div>
</nav>

<footer>
  <!-- created by : 정현우, 원지운 -->
</footer>
