결제하세요
<button onclick="pay()">하이</button>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js" ></script>
<script type="text/javascript" src="https://service.iamport.kr/js/iamport.payment-1.1.2.js"></script>
<script>
IMP.init('imp76915114');
function pay() {
  IMP.request_pay({
    pg : 'inicis', // version 1.1.0부터 지원.
    pay_method : 'card',
    merchant_uid : 'merchant_' + new Date().getTime(),
    name : '주문명:결제테스트',
    amount : 100,
    buyer_email : 'iamport@siot.do',
    buyer_name : '구매자이름',
    buyer_tel : '010-1234-5678',
    buyer_addr : '서울특별시 강남구 삼성동',
    buyer_postcode : '123-456',
    m_redirect_url : 'localhost:3000/feeds/payment' // 절대경로만 가능
  }, function(rsp) {
    if ( rsp.success ) {
      $.ajax({
        url: '/feeds/payment',
        data: rsp,
        method: 'get',
        success: function(data) {
          alert(data.msg);
        }
      });
    } else {
      var msg = '결제에 실패하였습니다.';
      msg += '에러내용 : ' + rsp.error_msg;
      alert(msg);
    }
  });
}
</script>
