$('#scroll-target').append(
  '<% @show_curator = true %>\
  <% @commons.each_with_index do |commons, i| %>\
    <% if i % 2 != 0 && @commons[i+1] != nil %>\
      <div class="_column-positioner">\
        <div class="card-container">\
          <%= j render partial: "index_card_desktop", locals: {feed: @commons[i]} %>\
        </div>\
        <div class="card-container">\
          <%= j render partial: "index_card_desktop", locals: {feed: @commons[i+1]} %>\
        </div>\
      </div>\
    <% end %>\
  <% end %>'
);
<% if @commons.next_page %>
  $('.pagination').replaceWith('<%= j will_paginate @commons %>');
<% else %>
  $('#scroll-target').off('scroll');
  $('.pagination').remove();
<% end %>
