<div class="_desktop-modal _column-positioner _vcenter-positioner">
  <%= render partial: "partial_views/dismiss_modal_button" %>
  <%= image_tag "icon_qna_black", class: "modal-icon" %>
  <div class="_text-center">
    <p class="_fs-title _dark-gray _f-family-tmon">공지사항</p>
  </div>
</div>