<%= render partial: '/mypage/top_mobile', locals: {title: "공지사항"}  %>

<section id="notice">
  <div class="row mypage-settings-background"></div>
  <% @notices.each do |notice| %>
    <div class="mypage-notice-container">
      <p class="black-title"><%= notice.title %></p>
      <p class="gray-content"><%= notice.content %></p>
    </div>
  <% end %>
</section>
