<div class="row text-center">
  <div class="col-xs-8">
    <%= form_tag recommended_urls_path, class: "recommended-url-form", method: "POST" do %>
      <%= text_field_tag "recommended_url" %>
      <%= submit_tag "Submit" %>
    <% end %>
  </div>
</div>
