<div class="_small-modal-container">
  <div class="_modal-background _column-positioner _hcenter-positioner">
    <div class="_small-modal-title text-center">
      <%= image_tag "icon_qna", class: "_modal-big-icon-m" %>
      <p class="_fs-4-mobile _white _f-letter-mobile">페이스북으로 만든 계정은</p>
      <p class="_fs-4-mobile _white _f-letter-mobile">비밀번호를 바꿀 수 없습니다.</p>
    </div>
  </div>
</div>