<div class="_small-modal">
  <div class="_modal-background _column-positioner _hcenter-positioner">
    <div class="_small-modal-title text-center">
      <%= image_tag "icon_check", class: "_modal-big-icon-m" %>
      <!-- TODO Modal sizing -->
      <p class="_fs-4-mobile _white _f-letter-mobile _f-line-mobile _text-center">
      가입 확인 메일이 전송되었습니다.<br/>
      메일을 확인해 주세요.
      </p>
    </div>
  </div>
</div>
