<div class="_small-modal">
  <div class="_modal-background _column-positioner _hcenter-positioner">
    <div class="_small-modal-title text-center">
      <%= image_tag "icon_qna_black", class: "_modal-big-icon-m" %>
      <p class="_fs-4-mobile _black _f-letter-mobile">정말 탈퇴 하시겠어요?</p>
    </div>
    <div class="_small-modal-button _vcenter-positioner _hcenter-positioner _no-p-margin">
      <div class="devider">
        <%= link_to user_registration_path, method: :delete, class: "_vcenter-positioner _hcenter-positioner" do %>
            <p class="_fs-3-mobile _red">탈퇴하기</p>
        <% end %>
      </div>
      <div class="_small-modal-partision"></div>
      <div class="devider">
        <div class="_vcenter-positioner _hcenter-positioner _no-p-margin" data-dismiss="modal">
          <p class="_fs-3-mobile _black">취소</p>
        </div>
      </div>
    </div>
  </div>
</div>