$('body').append(
    '<div class="_full-container _vcenter-positioner _hcenter-positioner">' +
    '<%= j render partial: "partial_views/error_modal_desktop", locals: {message: "페이스북으로 만든 계정은<br />
        비밀번호를 바꿀 수 없습니다."} %>' +
    '</div>'
);

setTimeout(function () {
    window.location = "<%= mypage_index_path %>";
}, 1500);