$('body').append(
    '<div id="cannot-change-password-modal" class="modal">\
  <%= j render partial: "/devise/registrations/cannot_change_password_modal_mobile" %>\
</div>'
);
var cannotChangePasswordModal = $('#cannot-change-password-modal');
cannotChangePasswordModal.modal();
setTimeout(function() {cannotChangePasswordModal.modal('hide')}, 1500);
cannotChangePasswordModal.on('hide.bs.modal', function() {
    cannotChangePasswordModal.remove();
});