$('body').append(
    '<div id="cannot-change-password-modal" class="modal">\
  <%= j render partial: "/devise/registrations/cannot_change_password_modal_mobile" %>\
</div>'
);
$('#cannot-change-password-modal').modal();