$('body').append(
    '<div id="cannot-change-password-modal" class="modal">\
  <%= j render partial: "partial_views/error_modal_mobile", locals: {message: '페이스북으로 만든 계정은<br />
        비밀번호를 바꿀 수 없습니다.'} %>\
</div>'
);
var cannotChangePasswordModal = $('#cannot-change-password-modal');
cannotChangePasswordModal.modal();
setTimeout(function() {cannotChangePasswordModal.modal('hide')}, 1500);
cannotChangePasswordModal.on('hide.bs.modal', function() {
    cannotChangePasswordModal.remove();
});