var message = '입력하신 계정으로 메일이 전송되었습니다!\n메일을 인증해주세요';
$('body').append(
    '<div id="confirmation-email-sent-mobile" class="modal">' +
    '    <%= j render partial: "partial_views/check_modal_mobile", locals: {message: message} %>' +
    '</div>'
);
var alertModal = $('#confirmation-email-sent-mobile');
alertModal.modal();
setTimeout(function() {alertModal.modal('hide')}, 1500);
alertModal.on('hide.bs.modal', function() {
    alertModal.remove();
// TODO 어디로 이동?
    window.location = "<%= mypage_index_path %>";
});
