$('body').append(
    '<div class="_full-container _vcenter-positioner _hcenter-positioner">\n' +
    '  <%= j render partial: "partial_views/check_modal_desktop", locals: {message: "입력하신 계정으로 메일이 전송되었습니다!<br />메일을 인증해주세요"} %>\n' +
    '</div>'
);

setTimeout(function () {
    window.location = "<%= mypage_index_path %>";
}, 2100);