$('body').append(
    '<div class="_full-container _vcenter-positioner _hcenter-positioner">' +
    '    <div class="_desktop-modal _column-positioner _hcenter-positioner _vcenter-positioner">\n' +
    '        <%= image_tag "icon_check_black", class: "modal-icon" %>\n' +
    '        <p class="_fs-2 _black _text-center">입력하신 계정으로 메일이 전송되었습니다!<br />메일을 인증해주세요</p>\n' +
    '        <p class="_fs-3 _dark-gray">문제가 발생했나요? <span style="text-decoration: underline;">메일 재전송</span></p>' +
    '    </div>' +
    '</div>'
);