$('body').append(
    '<div class="_full-container _vcenter-positioner _hcenter-positioner">' +
      '<%= j render partial: "partial_views/check_modal_desktop", locals: {message: "라이블의 가족이 되셨습니다!"} %>' +
    '</div>'
);

setTimeout(function () {
    window.location = "<%= mypage_index_path %>";
}, 1500);