$('body').append(
    '<div id="update-password-success-mobile" class="modal">\
<%= j render partial: "partial_views/check_modal_mobile", locals: {message: '비밀번호가 변경되었습니다'} %>\
</div>'
);
var alertModal = $('#update-password-success-mobile');
alertModal.modal();
setTimeout(function() {alertModal.modal('hide')}, 1500);
alertModal.on('hide.bs.modal', function() {
    alertModal.remove();
    window.location = "<%= mypage_index_path %>";
});
