$('body').append(
    '<div id="update-password-success-mobile" class="modal">\
<%= j render partial: "/devise/registrations/update_password_success_mobile" %>\
</div>'
);
var alertModal = $('#update-password-success-mobile');
alertModal.modal();
setTimeout(function() {alertModal.modal('hide')}, 1500);
alertModal.on('hide.bs.modal', function() {
    alertModal.remove();
    window.location = "<%= mypage_index_path %>";
});
