<div id="search-index-mobile">
  <div class="_body-background-m"></div>
  <%= render partial: "search_bar_mobile" %>

  <!-- 랭킹 목록 -->
  <div id="search-list-group-m">
    <%= render partial: "feed_card_mobile", collection: @feeds, as: :feed %>
  </div>
  <!-- 최근 검색어 목록 -->
  <div id="search-recent-keywords" style="display: none;">
    <%= render partial: 'recent_keywords' %>
  </div>

  <div id="infinite-scrolling" class="_display-none">
    <%= will_paginate @feeds %>
  </div>
</div>