<div id="search-index-mobile">
  <div class="_body-background-m"></div>
  <%= render partial: "search_bar_mobile" %>

  <div id="search-list-container">
    <%= render partial: "feed_card_mobile", collection: @feeds, as: :feed %>
  </div>

  <div id="infinite-scrolling">
    <%= will_paginate @feeds %>
  </div>
</div>

<!-- TODO css, 어디다 둘지 -->
<div id="search-recent-keywords" style="position: fixed; left: 0; right: 0; top: 100px; font-size: 100px; color: white">
  <%= render partial: 'recent_keywords' %>
</div>

<!-- TODO 옮깁시당 -->
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
$('#search').keypress(function() {
  $.ajax({
    url: '/search/autocomplete',
    data: {key: $(this).val()},
    success: function(data) {
      $('#search').autocomplete({source: data});
    }
  });
});
</script>
