<div id="search-index-mobile">
  <div class="_body-background-m"></div>
  <%= render partial: "search_bar_mobile" %>

  <div id="search-list-container">
    <%= render partial: "feed_card_mobile", collection: @feeds, as: :feed %>
  </div>

  <div id="infinite-scrolling">
    <%= will_paginate @feeds %>
  </div>
</div>