var video_results = $('#search-video-results');
var upcoming_results = $('#search-upcoming-results')

video_results.empty();
<% @video_results.each do |v| %>
    video_results.append("<div><%= v.title %></div>");
<% end %>

upcoming_results.empty();
<% @upcoming_results.each do |u| %>
    upcoming_results.append("<div><%= u.title %></div>");
<% end %>
