<div id="device-link-mobile">
  <%- if devise_mapping.omniauthable? %>
      <a onclick="onClickFacebookLoginButton();">
        <div class="facebook-button _submit-button _fs-2-mobile _white _text-center">"페이스북으로 3초만에 로그인"</div>
      </a>
  <% end -%>

  <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
      <div class="option-text-container _hright-positioner _fs-4-mobile _white">
        <%= link_to "비밀번호를 잊어버리셨나요?", new_password_path(resource_name) %><br />
      </div>
  <% end -%>
</div>

<script>
    function onClickFacebookLoginButton() {
        $.ajax({
            method: "get",
            url: "<%= user_facebook_omniauth_authorize_path %>",
            crossDomain: true,
            dataType: 'jsonp',
            xhrFields: {withCredentials: true}
        });
        return false;
    }

    // for facebook login callback function
    var isfacebookLoginCallbackTrue = <%= remote %>;
</script>
