//color
$white: #ffffff;
$black: #000000;
$dark-dark-gray: #292929;
$dark-gray: #525252;
$gray: #757575;
$light-gray: #A7A7A7;
$dark-green: #58757C;
$light-green: #9BFFCC;
$facebook-blue: #023698;
$gray-opacity: rgba(256, 256, 256, 0.27);

._white {
  color: $white;
}
._black {
  color: $black;
}
._dark-dark-gray {
  color: $dark-dark-gray;
}
._dark-gray {
  color: $gray;
}
._light-gray {
  color: $light-gray;
}
._light-green {
  color: $light-green;
}
._facebook-blue {
  color: $facebook-blue;
}