@import "sizes";
@import "colors";


////backgrounds
._body-background-m {
  position: fixed;
  z-index: -1;
  background: url(asset-path("background_img.png")) no-repeat center center; background-size: cover;
  background-color: $black;
  width: 100%;
  height: auto;
  min-height: 100%;
}

////containers
._full-container {
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

._logo-container-m {
  width: auto;
  height: $logo-height-m;
  margin-top: 2%;
}

._list-container-m {
  padding: $list-container-pv-m 0;
}

._card-container-m {
  padding: 0 1% 1%;
}

._thumbnail-container-m {
  overflow: hidden;
  position: relative;
  height: 100%;
}

._thumbnail-button-container-m {
  position: absolute;
  bottom: 3%; left: 1%;
  width: 100%;
  height: 7%;
}

._describe-container-m {
  position: absolute;
  bottom: 10%; left: 0;
  padding: 0 $thumbnail-elem-mh-m;
}

._show-video-container-m {
  z-index: 5;
  position: fixed;
  width: 100%;
  height:0;
  padding-bottom: 56.25%;
  background: rgba(0,0,0,1);
  overflow:hidden;
  iframe, object, embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

._show-video-title-container-m {
  position: absolute;
  top: 7%;
}

._show-video-back-container-m {
  position: absolute;
  z-index: 98;
  top: 0; left: 0;
  padding: 4%;
}

._show-play-button-container-m {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

._show-progress-container-m {
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

._show-describe-container-m {
  padding-top: $list-container-pv-m;
  padding-bottom: $list-container-pv-m;
  padding-left: $list-container-ph-m;
  padding-right: $list-container-ph-m;
  background: $dark-dark-gray;
}

._show-text-container-m {
  width: 100%;
}

._show-buttons-container-m {
  width: 100%;
  height: 10rem;
  background: $black;
}

._profile-container-m {
  position: relative;
  top: 0; left: 0;
  width: 12rem;
  height: 12rem;
}

._comments-container-m {
  padding: 6%;
  width: 100%;
  background: $black;
}

._comment-content-container-m {
  margin-top: 2%;
  margin-left: 18%;
  padding: 3%;
  padding-left: 6%;
  padding-right: 5%;
  border-top-right-radius: $br-min-m;
  border-bottom-right-radius: $br-min-m;
  border-bottom-left-radius: $br-min-m;
  background: $dark-dark-gray;
}

._mypage-title-container-m {
  padding: 4% 0 2%;
}

._big-modal-container {
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  //top: 18%;
  //left: 14%;
  //width: 72%;
  //height: 56%;
  margin: 24rem 12rem;
  background: $dark-dark-gray;
  border-radius: 6rem;
}

._small-modal-container {
  position: absolute;
  top: 34%;
  left: 14%;
  width: 72%;
  height: 32%;
  background: none;
  border-radius: 6rem;
}

._modal-background {
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  background-color: rgba(82, 82, 82, .9);
  border-radius: 6rem;
}
/* support backdrop-filter */
@supports ( (-webkit-backdrop-filter: blur(1px)) or (backdrop-filter: blur(1px)) ) {
  ._modal-background {
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
  }
}
/* no support backdrop-filter */
//@supports ( not ( (-webkit-backdrop-filter: blur(1px)) or (backdrop-filter: blur(1px)) ) ) {
//  ._modal-background {
//    -webkit-filter: url(#backdrop-filter-blur);
//    filter: url(#backdrop-filter-blur);
//  }
//}

._modal-icon-container {
  margin: 0 6% 0 0;
}

////positioners
._hcenter-positioner {
  display: flex;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  width: 100%;
  /* align horizontal */
  justify-content: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
}

._column-positioner {
  /* column direction */
  flex-direction: column !important;
  -webkit-flex-direction: column !important;
  -ms-flex-direction: column !important;
}

._vcenter-positioner {
  display: flex;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  flex-direction: row;
  /* align vertical */
  align-items: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
}

._row-positioner {
  display: flex;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  flex-direction: row;
}

._hright-positioner {
  display: flex;
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
}

._text-center {
  text-align: center;
}

//////DESKTOP
._profile-container {
  position: relative;
  top: 0; left: 0;
  width: 4rem;
  height: 4rem;
}