@import "sizes";
@import "colors";
@import "mixins";
@import "keyframe";

//########################
//#         BOTH         #
//########################
//default
body {
  background: $black !important;
}

//containers
._full-container {
  position: absolute;
  @include position(0);
}

//modals
.modal {
  position: fixed;
  @include position(0);
}

//positioners
._hcenter-positioner {
  @include display-flex;
  width: 100%;
  //@include flex-direction(row);
  /* align horizontal */
  @include justify-content(center);
}

._hright-positioner {
  @include display-flex;
  @include justify-content(flex-end);
}

._column-positioner {
  /* column direction */
  @include flex-direction(column);
}

._vcenter-positioner {
  @include display-flex;
  //@include flex-direction(row);
  /* align vertical */
  @include align-items(center);
}

._vbottom-positioner {
  @include display-flex;
  @include align-items(flex-end);
}

._row-positioner {
  @include display-flex;
  @include flex-direction(row);
}

._text-center {
  text-align: center;
}

._display-flex {
  display: -webkit-box !important;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box !important;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox !important;      /* TWEENER - IE 10 */
  display: -webkit-flex !important;     /* NEW - Chrome */
  display: flex !important;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

._flex-wrap {
  @include flex-wrap;
}

//########################
//#        MOBILE        #
//########################
//backgrounds
._body-background-m {
  position: fixed;
  @include position(0);
  z-index: $z-burrow;
  background: url(asset-path("background_img.png")) no-repeat center center; background-size: cover;
  background-color: $black;
}
._body-no-background-m {
  position: fixed;
  @include position(0);
  z-index: $z-burrow;
  background-size: cover;
  background-color: $black;
}

._logo-background {
  @include background-gradient(top, $black 40%, rgba(18, 18, 18, 0) 100%);
  width: 100%;
  padding: 4% 0 8%;
  z-index: $z-front;
}

._modal-background {
  position: absolute;
  @include position(0);
  background: inherit;
  @include border-radius($br-image-m);
  overflow: hidden;
  &::before {
    position: absolute;
    @include position(-20%);
    visibility: visible;
    content: '';
    background: url(asset-path("background_modal.jpg")) no-repeat center center; background-size: cover;
    @include filter(blur(12px));
  }
}
._modal-filter {
  position: absolute;
  @include position(0);
  background: rgba(0, 0, 0, .08);
  @include border-radius($br-image-m);
  overflow: hidden;
}
._modal-white-background-m {
  position: absolute;
  @include position(0);
  background: $white;
  @include border-radius($br-image-m);
  overflow: hidden;
}

//containers
._logo-container-m {
  @include size(auto, $logo-height-m);
}

._cards-group-container-m {
  margin: -4% 0 0;
  padding: 0 0 $list-container-pv-m;
  z-index: $z-back;
  ._card-container-m {
    padding: 0 1% 1%;
  }
}

._thumbnail-container-m {
  overflow: hidden;
  position: relative;
  height: 100%;
}

._thumbnail-button-container-m {
  position: absolute;
  bottom: 3%; left: 0;
  padding: 0 1%;
  @include size(100%, 3em);
}

._describe-container-m {
  position: absolute;
  bottom: 14%; left: 0;
  padding: 0 $thumbnail-elem-mh-m;
}

._describe-text-container-m {
  max-height: 10rem;
  overflow-y: hidden;
}

._show-video-container-m {
  position: fixed;
  z-index: $z-front;
  @include video-player;

  ._show-video-title-container-m {
    position: absolute;
    top: 7%;
  }

  ._show-play-button-container-m {
    position: absolute;
    @include size(100%);
  }

  ._show-progress-container-m {
    position: absolute;
    @include position(0);
  }

  ._show-progress-controller-m {
    position: relative;
    height: 100%;
  }

  ._show-icon-container-m {
    padding: 0 18%;
    ._show-progress-icon-m {
      @include size(auto, 8%);
    }
  }
  @for $i from 1 through 2 {
    .arrow-left-#{$i} { opacity: 0; }
    .arrow-right-#{$i} { opacity: 0; }
  }
}

._link-back-container-m {
  position: fixed;
  z-index: $z-most-important;
  top: 0; left: 0;
  padding: 4%;
}

._show-text-container-m {
  width: 100%;
  padding: 1% 0 0;
}

._show-buttons-container-m {
  @include size(100%, 12rem);
  background: $black;
}

._profile-container-m {
  position: relative;
  top: 0; left: 0;
  padding: 0.6rem;
  @include size(12rem);
}

._show-comments-m {
  width: 100%;
  padding: 6%;
  background: $black;
  ._comment-edit-container-m {
    height: auto;
    padding: 1% 0 2% 4%;
    .input-container {
      @include size(100%);
      border: 1px solid $white;
      @include border-radius($br-min-m);
    }
    .input-text {
      @include size(100%);
      padding: 4% 4%;
      background: none;
      border: none;
    }
    .submit-container {
      padding: 0 2%;
    }
  }

  ._comments-group-m {
    margin: 6% 0 0;
  }

  ._comment-container-m {
    margin: 4% 0;
  }

  ._comment-content-container-m {
    position: relative;
    margin: 0 0 0 18%;
    padding: 3% 5% 3% 6%;
    @include border-radius(0 $br-min-m $br-min-m $br-min-m); //왼쪽 위, 오른쪽 위, 오른쪽 아래, 왼쪽 아래
    background: $dark-gray;
    ._comment-delete-container-m {
      position: relative;
      padding: 1% 0;
    }
    ._comment-icon-m {
      @include size(auto, 3rem);
    }
  }
}

._mypage-title-container-m {
  padding: 4% 0 2%;
}

//modals
._big-modal {
  position: relative;
  height: 120rem;
  margin: 0 8rem;
  z-index: 9999;
  background: $black-opacity;
  border-radius: 6rem;
  overflow: hidden;
}

._small-modal {
  position: absolute;
  @include position(0);
  z-index: 9999;
  margin: 30em 8rem;
  background: none;
  border-radius: 6rem;
}

._modal-icon-container {
  margin: 0 6% 0 0;
}

//########################
//#       DESKTOP        #
//########################
//backgrounds
._devise-background {
  position: absolute;
  @include position(0);
  z-index: $z-burrow;
  background: url(asset-path("background_concert.jpg")) no-repeat center center;
  background-size: cover;
}

//containers
._desktop-container {
  position: relative;
  width: $wide-width;
}
@media (max-width: $desktop) {
  ._desktop-container {
    max-width: $narrow-width;
    width: 100%;
  }
}
._desktop-container-narrow {
  position: relative;
  width: $narrow-width;
}

._profile-container {
  position: relative;
  top: 0; left: 0;
  padding: 0.2rem;
  @include size(4rem);
}

._thumbnail-image-container {
  position: relative;
  @include size(100%, auto);
}

._text-container {
  padding: 0.8rem 0;
}

._video-info-icon-container {
  @include size(auto, 2rem);
}

._username-container {
  padding: 0 0 0 2rem;
  width: 80%;
}

._show-buttons-container {
  padding: $desktop-margin-top+1rem 0 1rem;
}

._comment-container {
  width: 100%;
  padding: 1.5rem 0;
  ._comment-profile-container {
    position: relative;
    top: 0;
    left: 0;
    min-width: $navbar-h;
    @include size($navbar-h);
    padding: 0.1rem;
    margin: 0 1rem 0 0;
    @include border-radius(50%);
  }

  ._comment-input-container {
    margin: 0 0 0 2rem;
    padding: 0.5rem 1rem;
    background: none;
    border: 1px solid $dark-gray;
    @include border-radius($br-min);
  }

  ._comment-created-time-container {
    padding: 0 0 0 2rem;
  }

  ._comment-content-container {
    margin: 0 0 0 2rem;
    padding: 0.5rem 1rem;
    background: $dark-dark-gray;
    border: none;
    @include border-radius($br-min);
    ._comment-edit-container {
      position: relative;
      display: none;
    }
    ._comment-icon {
      @include size(auto, 1.8rem);
    }
    ._comment-edit-modal {
      position: absolute;
      top: 3rem;
      right: 0;
    }
  }

  &:hover {
    ._comment-edit-container {
      @include cursor-pointer;
      display: block;
    }
  }
}

._share-container {
  position: relative;
  ._share-modal {
    position: absolute;
    top: 3rem; right: 0;
  }
}

._modal-dismiss-container {
  position: absolute;
  top: 0; right: 0;
  padding: 1rem;
  .dismiss-icon {
    @include size(auto, 1.5rem);
  }
  @include cursor-pointer;
}

//modals
._desktop-modal {
  position: relative;
  width: 32rem;
  min-height: 36rem;
  max-height: 52rem;
  background: $white;
  padding: 2rem;
  @include border-radius($br-min);
  z-index: 9999;
  .modal-icon {
    @include size(auto, 8rem);
    margin: 0 0 4rem;
  }
  .modal-button-container {
    width: 100%;
    margin: 2rem 0 0;
  }
  .modal-button {
    @include size(48%, 4rem);
    border: 1px solid $black;
    @include border-radius($br-min);
    .button-icon {
      @include size(auto, 2rem);
      margin: 0 1rem 0 0;
    }
    &:not(:first-child) {
      margin: 0 0 0 4%;
    }
    &:hover {
      cursor: pointer;
      border: none;
      background: $light-gray;
    }
  }
}

._desktop-small-modal {
  position: relative;
  min-width: 8rem; height: auto;
  background: $white;
  padding: 1rem;
  z-index: 9999;
  @include border-radius($br-min);
}