@import "sizes";
@import "colors";

////backgrounds
._body-background-m {
  position: fixed;
  z-index: -1;
  background: url(asset-path("background_img.png")) no-repeat center center; background-size: cover;
  background-color: $black;
  width: 100%;
  height: auto;
  min-height: 100%;
}

////containers
._logo-container-m {
  width: auto;
  height: $logo-height-m;
  margin-top: $logo-container-mv-m;
}

._list-container-m {
  padding-left: $list-container-ph-m;
  padding-right: $list-container-ph-m;
  padding-top: $list-container-pv-m;
  padding-bottom: $list-container-pv-m;
}

._card-container-m {
  padding-bottom: $card-container-pv-m;
}

._thumbnail-container-m {
  overflow: hidden;
  position: relative;
  height: 100%;
}

._thumbnail-info-container-m {
  position: absolute;
  bottom: 3%; left: 0;
  width: 100%;
  height: 6%;
}

._describe-container-m {
  padding-top: 2%;
  padding-bottom: $card-container-pv-m;
}

////positioners
._hcenter-positioner {
  width: 100%;
  text-align: center;
}

._vcenter-positioner {
  display: flex;
  flex-direction: row;
  align-items: center;
}

._row-positioner {
  display: flex;
  flex-direction: row;
}

._hright-positioner {
  display: flex;
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
}