@import "sizes";
@import "colors";
@import "mixins";

//########################
//#         BOTH         #
//########################
hr {
  border-top: 1px solid $gray !important;
  margin: 0 !important;
}

:focus {
  outline: none;
  caret-color: $light-green;
}

:-webkit-autofill,
:-webkit-autofill:hover,
:-webkit-autofill:focus{
  -webkit-text-fill-color: $white;
  transition: background-color 5000s ease-in-out 0s;
}

input::-webkit-input-placeholder {
  color: $light-gray !important;
}
input:-moz-placeholder {
  color: $light-gray !important;
}
input::-moz-placeholder {
  color: $light-gray !important;
}
input:-ms-input-placeholder {
  color: $light-gray !important;
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

textarea {
  resize: none;
}

a:hover {
  img:not(._profile-img):not(._logo-livle):not(._show-icon-m) {
    opacity: .6;
  }
}

._no-p-margin {
  p { margin: 0; }
}

._no-background-border {
  background: none;
  border: none;
}

._display-none {
  display: none !important;
}

._flex-grow-1 {
  @include flex-grow(1);
}

._profile-img {
  @include size(100%);
  object-fit: cover;
  @include border-radius(50%);
}

._profile-img-square {
  @include size(100%);
  @include border-radius($br-image);
  object-fit: cover;
  &:hover {
    border: solid 1px #ffffff;
    box-shadow: 0 2px 16px 10px #ffffff;
  }
}

._profile-border-green {
  @include border-radius(50%);
  border: 0.2rem $light-green solid;
}

//transitions
._loading-wave-container {
  position: fixed;
  top: $navbar-h + 2rem;
  left: 0; right: 0;
  z-index: $z-most-important;

  ._loading-wave-group {
    $rectCount: 5;
    $animationDuration: 1.2s;
    $delayRange: 0.4s;
    $spinkit-size: 3em !default;
    $spinkit-spinner-color: $white !default;

    width: $spinkit-size * 1.5;
    height: $spinkit-size;
    margin: auto;
    text-align: center;

    .loading-rect {
      background-color: $spinkit-spinner-color;
      height: 100%;
      width: .5em;
      display: inline-block;
      border-radius: 3em !important;
      animation: sk-wave-stretch-delay $animationDuration infinite ease-in-out;
    }

    @for $i from 1 through $rectCount {
      .sk-rect-#{$i} { animation-delay: - $animationDuration + $delayRange / ($rectCount - 1) * ($i - 1); }
    }
  }
}

.clicked {
  animation: event 1.4s;
  .response-layer {
    animation: response 1.6s;
  }
}

._button-effect {
  background: $white;
  @include transition(background 300ms);
  &:hover {
    background: $light-gray;
    p { color: $white; }
  }
}

//########################
//#        MOBILE        #
//########################
//navbar
._navbar-m {
  position: fixed;
  width: 100%;
  bottom: 0;
  padding: 1% 0;
  z-index: $z-most-important;
  @include background-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 40%);
  /* align to bottom */
  @include align-items(flex-end);
  a:hover {
    img {
      opacity: 1;
    }
  }
}

//image
._thumbnail-image-m {
  position: relative;
  top: 0; left: 0; right: 0;
  @include size(100%, auto);
}

//filter
._thumbnail-filter-m {
  position: absolute;
  bottom: 0; left: 0; right: 0;
  @include size(100%, 60%);
  @include background-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.6) 80%);
}

._show-video-filter-m {
  position: absolute;
  @include position(0);
  @include size(100%);
  @include background-gradient(top, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0) 60%, rgba(0,0,0,0.3) 100%);
}

//icon
._thumbnail-info-icon-m {
  @include size(auto, 100%);
  margin: 0 $thumbnail-info-mh-m 0 0;
}

._upcoming-like-icon-m {
  @include size(auto, 8rem);
}

._show-icon-m {
  @include size(auto, 5rem);
  margin: 0 $list-container-ph-m 0 0;
}

._modal-big-icon-m {
  @include size(auto, 18rem);
  margin: 0 0 6%;
}
._modal-icon-m {
  @include size(auto, 4.5rem);
}
.video-progress-bar {
  @include size(20%, auto);
}

//social button icon size
.social-share-button {
  .ssb-icon {
    $icon-size: 12rem;
    background-size: $icon-size !important;
    @include size($icon-size !important);
    margin: 0 2rem;
  }
}
//button
._show-play-button {
  @include size(auto, 30%);
  z-index: $z-most-important;
}
._submit-button-m {
  padding: 3.5% 0;
  background: none;
  border: 2px solid $white;
  @include border-radius($br-image-m);
}

._small-modal-button {
  position: absolute;
  bottom: 0; left: 0; right: 0;
  border-top: 2px solid $black;
  .devider {
    width: 49.2%;
    padding: 4rem 0;
  }
}

._small-modal-partision {
  @include size(0.2rem, 10rem);
  background: $black;
}

////margin, padding
._thumbnail-elem-margin-m {
  margin: 0 1.5%;
}

._thumbnail-margin-right-m {
  margin: 0 $thumbnail-elem-mh-m 0 0;
}

._icon-text-margin-m {
  margin: 0 0 0 $list-container-ph-m;
}

._show-progress-margin-m {
  margin: 26% 0 0;
}

._show-player-padding-m {
  padding: 56.25% 0 0;
}

._small-modal-title {
  padding: 0 0 6%;
  z-index: $z-most-important;
}

//########################
//#       DESKTOP        #
//########################
//navbar
._navbar {
  position: fixed;
  top: 0; left: 0; right: 0;
  width: 100%;
  padding: 1rem 0;
  z-index: $z-most-important;
  background: rgba(0, 0, 0, 0);
  @include transition(background 480ms);

  ._navbar-serach-container {
    width: 25%;
    padding: 0.6rem 0;
    background: rgba(226, 222, 222, 0.31);
    border: none;
    z-index: $z-most-important + 1;
    @include border-radius($br-min);
    &:hover {
      cursor: text;
    }
  }
  ._navbar-search-input {
    background: none;
    @include size(52%, 100%);
    border: none;
  }
  ._navbar-search-icon-container {
    width: 48%;
    padding: 0 3%;
    @include transition(all 0.2s);
  }
  ._navbar-search-icon {
    @include size(auto, 1.6rem);
  }

  ._navbar-logo-container {
    position: absolute;
    top: 0; left: 0; right: 0;
    height: 100%;
    padding: 0 2%;
  }

  ._navbar-buttons-container {
    position: absolute;
    top: 0; right: 2%;
    height: 100%;
  }
  ._navbar-button {
    position: relative;
    padding: 0 1rem;
    ._navbar-button-hover {
      opacity: 0;
      @include transition(opacity 300ms 200ms);
      position: absolute;
      top: $navbar-h + 1.5rem; right: 0;
      background: $white;
      padding: .8rem 1rem;
      @include border-radius($br-min);
      &:before {
        $width: .6rem; $height: 1rem;
        position: absolute;
        top: -$height; right: 2.3rem;
        content: "";
        border-left: $width solid transparent;
        border-bottom: $height solid $white;
        border-right: $width solid transparent;
      }
    }
    &:hover {
      ._navbar-button-hover {
        opacity: 1;
      }
    }
  }
  ._navbar-icon {
    @include size(auto, $navbar-h);
  }

  ._navbar-login-button {
    @include size(7rem, $navbar-h);
    border: 1px solid $white;
    @include border-radius($br-min);
    &:hover {
      cursor: pointer;
      background: $white;
      p { color: $black; }
    }
  }

  ._navbar-profile-container {
    position: relative;
    top: 0; left: 0;
    @include size($navbar-h);
    margin: 0 0 0 2rem;
    padding: 0.1rem;
    border: 1px solid $light-green;
    @include border-radius(50%);
  }

  ._navbar-dropdown-icon {
    width: auto;
    padding: 0 0 0 1rem;
  }
}

#footer-modal {
  position: absolute;
  left: 6rem; bottom: 26rem;
}

//footer
._footer {
  position: relative;
  @include size(100%, 26rem);
  background: #000000;
  $height: 3rem;
  $margin: 3rem 6rem 0;

  ._describe-container {
    position: absolute;
    top: 0; left: 0;
    height: $height;
    margin: $margin;
    p:hover {
      cursor: pointer;
      opacity: .6;
    }
  }

  ._legal-term-container {
    position: absolute;
    top: 0; right: 0;
    height: $height;
    margin: $margin;
    a:hover {
      opacity: .6;
    }
  }

  ._info-container {
    position: relative;
    top: 5rem; left: 0; right: 0;
    padding: $margin;
  }

  ._contact-container {
    position: relative;
  }
  ._logo-image {
    @include size(auto, 2rem);
    margin: 0 1rem;
  }

  ._sns-container {
    margin: 1rem 0.4rem;
  }

  ._text-margin-right {
    margin: 0 6rem 0 0;
  }
}

//dropdown
.dropdown-menu {
  background: $dark-dark-gray !important;
  min-width: 14rem !important;
  margin: 1rem 0 0 !important;
  padding: 0 !important;
  @include border-radius($br-min !important);
  li {
    padding: .6rem 0 !important;
    &:hover {
      background: $gray;
    }
  }
  a:hover { background: none !important; }
}

//logo
._logo-livle {
  @include size(auto, 2.5rem);
}

//icon, image, video
._video-info-icon {
  @include size(auto, 2rem);
}

._crown-icon-margin {
  margin: -1% 1rem 0 0;
}

._video-player {
  position: relative;
  @include video-player;
  -ms-touch-action: none;
  touch-action: none;
}

._thumbnail-image {
  @include size(100%, auto);
  object-fit: cover;
}

._thumbnail-blur-img {
  @include size(110%);
  object-fit: cover;
  @include filter($blur);
}

._show-icon {
  @include size(auto, 2.5rem);
  margin: 0 1.2rem 0 0;
}

//margin, padding
._thumbnail-elem-margin {
  margin: 0 1rem;
}

._show-button-padding {
  padding: 0 0.8rem;
}

//button
._submit-button {
  padding: 3.5% 0;
  background: none;
  border: 1px solid $white;
  @include border-radius($br-image);
  &:hover {
    border: 1px solid $light-gray;
    background: $light-gray;
    color: $black;
    p {
      color: $black;
    }
  }
}

#share-button {
  position: relative;
  &:hover {
    cursor: pointer;
  }
}