@import "sizes";
@import "colors";

hr {
  border-top: 1px solid $gray !important;
  margin: 0 !important;
}

:focus {
  outline: none;
  caret-color: $light-green;
}

:-webkit-autofill,
:-webkit-autofill:hover,
:-webkit-autofill:focus{
  -webkit-text-fill-color: $white;
  transition: background-color 5000s ease-in-out 0s;
}

////navbar
._navbar-m {
  position: fixed;
  width: 100%;
  bottom: 0;
  padding-top: 1%;
  padding-bottom: 1%;
  z-index: 99;

  background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 40%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 40%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 40%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

._navbar-element-m {
  flex-grow: 1;
  -webkit-flex-grow: 1;
}

////border, icon, image, video
._thumbnail-image-m {
  position: relative;
  top: 0; left: 0;
  width: 100%;
  height: auto;
}

._thumbnail-filter-m {
  position: absolute;
  bottom: 0; left: 0;
  width: 100%;
  height: 60%;

  background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.6) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.6) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.6) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
}

._thumbnail-info-icon-m {
  width: auto;
  height: 100%;
  margin-right: $thumbnail-info-mh-m;
}

._upcoming-like-icon-m {
  width: auto;
  height: 6rem;
}

._profile-border-m {
  border-radius: 100%;
  border: 0.3rem $light-green solid;
}

._show-video-filter-m {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -moz-linear-gradient(top, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0) 60%, rgba(0,0,0,0.3) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0) 60%, rgba(0,0,0,0.3) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0) 60%, rgba(0,0,0,0.3) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

._profile-user-m {
  position: absolute;
  top: 3.2%; left: 3.2%;
  width: 94%;
  height: 94%;
  object-fit: cover;
  overflow: hidden;
  border-radius: 50%;
}

._show-icon-m {
  width: auto;
  height: 56%;
}
////button
._show-play-button {
  width: auto;
  height: 28%;
  z-index: 99;
}
._show-button {
  width: 33.3%;
  height: 100%;
}
._submit-button {
  padding: 3.5% 0;
  background: none;
  border: 2px solid $white;
  border-radius: $br-image-m;
  -webkit-border-radius: $br-image-m;
  -moz-border-radius: $br-image-m;
}
////margin, padding
._thumbnail-elem-margin-m {
  margin: 0 1.5%;
}

._thumbnail-margin-right-m {
  margin-right: $thumbnail-elem-mh-m;
}

._show-text-margin-m {
  width: 100%;
  height: 3.5rem;
  margin-bottom: 2.8rem;
}

._icon-text-margin-m {
  margin-left: $list-container-ph-m;
}

._show-info-padding-m {
  padding-top: 56.25%;
}

._show-text-padding-m {
  width: 75%;
  height: 12rem;
  padding-left: $list-container-ph-m;
}

._show-describe-item-padding-m {
  padding-top: $list-container-pv-m;
}