@import "sizes";

@font-face {
  font-family: 'TmonMonsori';
  src: font-url('TmonMonsori.ttf') format('truetype'),
  font-url('TmonMonsori.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

//########################
//#        BOTH          #
//########################
body, input {
  font-family: 'Nanum Square', 'Roboto', sans-serif !important;
}

a {
  text-decoration: none !important;
  color: inherit !important;
}

._f-family-tmon {
  font-family: 'TmonMonsori', 'Roboto';
}

//########################
//#        MOBILE        #
//########################
._fs-navbar-mobile {
  font-size: $fs-navbar-m;
}
._fs-1-mobile {
  font-size: $fs-1-m;
}
._fs-2-mobile {
  font-size: $fs-2-m;
}
._fs-3-mobile {
  font-size: $fs-3-m;
}
._fs-4-mobile {
  font-size: $fs-4-m;
}
._fs-5-mobile {
  font-size: $fs-5-m;
}
._fs-curation-mobile {
  font-size: 3.2rem;
}

._f-line-mobile {
  line-height: 170%;
}
._f-letter-mobile {
  letter-spacing: 0.4rem;
}

//########################
//#       DESKTOP        #
//########################
._fs-d-day {
  font-size: 4rem;
}
._fs-title {
  font-size: 2rem;
}
._fs-1 {
  font-size: $fs-1;
}
._fs-2 {
  font-size: $fs-2;
}
._fs-3 {
  font-size: $fs-3;
}
._fs-4 {
  font-size: $fs-4;
}
._fs-5 {
  font-size: $fs-5;
}

._f-line {
  line-height: 170%;
}
._f-letter {
  letter-spacing: .3rem;
}