@import "sizes";
@import "colors";

@font-face {
  font-family: 'TmonMonsori';
  src: url('TmonMonsori.eot');
  src: url('TmonMonsori.eot?#iefix') format('embedded-opentype'),
  url('TmonMonsori.ttf') format('truetype'),
  url('TmonMonsori.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

//########################
//#        BOTH          #
//########################
body, input {
  font-family: 'Nanum Square', 'Roboto', sans-serif !important;
}

a {
  text-decoration: none !important;
  color: inherit !important;
}

._f-family-tmon {
  font-family: 'TmonMonsori', 'Roboto';
}

._f-shadow {
  text-shadow: 0 2px 4px $gray;
}

//########################
//#        MOBILE        #
//########################
._fs-navbar-mobile {
  font-size: $fs-navbar-m;
}
._fs-0-mobile {
  font-size: $fs-0-m;
}
._fs-1-mobile {
  font-size: $fs-1-m;
}
._fs-2-mobile {
  font-size: $fs-2-m;
}
._fs-3-mobile {
  font-size: $fs-3-m;
}
._fs-4-mobile {
  font-size: $fs-4-m;
}
._fs-5-mobile {
  font-size: $fs-5-m;
}
._fs-curation-mobile {
  font-size: 3.2rem;
}

._f-line-mobile {
  line-height: 170%;
}
._f-letter-mobile {
  letter-spacing: 0.4rem;
}

//########################
//#       DESKTOP        #
//########################
._fs-connect {
  font-size: 4.5rem;
}
._fs-d-day {
  font-size: 4rem;
}
._fs-about {
  font-size: 3rem;
}
._fs-title {
  font-size: 2rem;
}
._fs-0 {
  font-size: 1.8rem;
}
._fs-1 {
  font-size: $fs-1;
}
._fs-2 {
  font-size: $fs-2;
}
._fs-3 {
  font-size: $fs-3;
}
._fs-4 {
  font-size: $fs-4;
}
._fs-5 {
  font-size: $fs-5;
}

._f-line {
  line-height: 170%;
}
._f-letter {
  letter-spacing: .3rem;
}
._f-letter-narrow {
  letter-spacing: .1rem;
}