//keyframes
@keyframes event {
  0%   {box-shadow: 0px 3px 3px 0px rgba(50, 50, 50, 0.4);}
  20%  {box-shadow: 0px 9px 14px 0px rgba(50, 50, 50, 0.6);}
  100% {box-shadow: 0px 3px 3px 0px rgba(50, 50, 50, 0.4);}
}

@keyframes response {
  0%   {}
  16%  { opacity: 1; }
  32%  { opacity: 0; }
  40%  {
    opacity: 0;
    transform: scale(10);
  }
  100% { opacity: 0;}
}

@keyframes sk-wave-stretch-delay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
  }
  20% {
    transform: scaleY(1.0);
  }
}