//container-padding
$logo-container-mv-m: 6%;
$list-container-ph-m: 6%;
$list-container-pv-m: 3%;
$card-container-pv-m: 2.8%;
$thumbnail-elem-mh-m: 2.5%;

//logo-size
$logo-height-m: 10rem;

//element-margin
$thumbnail-info-mh-m: 2%;

//font-size
$fs-1: 1.6rem;
$fs-2: 1.5rem;
$fs-3: 1.4rem;
$fs-4: 1.3rem;
$fs-5: 1.2rem;

$fs-navbar-m: 2.2rem;
$fs-1-m: 3.6rem;
$fs-2-m: 3.4rem;
$fs-3-m: 3rem;
$fs-4-m: 2.8rem;
$fs-5-m: 2.4rem;

//blur-size
$blur: blur(6px);

//border-radius
$br-min: .5rem;
$br-image: 1rem;

$br-min-m: 1.5rem;
$br-image-m: 3rem;

//icons
$navbar-h: 3rem;

//window size
$desktop: 1230px;
$navbar-height: 5rem;
$wide-width: 116rem;
$narrow-width: 96rem;