<div class="_row-positioner">
  <%= render partial: "side_navbar_desktop" %>
  <div class="admin-desktop-container _flex-grow-1">
    <div class="_vcenter-positioner">
      <div class="_flex-grow-1">
        <p class="_fs-1 _white">Temporary Upcoming Lists</p>
      </div>
      <%= link_to '/temporary_upcomings/destroy_all', method: :delete, class: "button _no-p-margin", data: {confirm: '정말 삭제하시겠습니까?'} do %>
          <p class="_fs-3 _white">전체 삭제</p>
      <% end %>
    </div>

    <table>
      <thead>
      <tr>
        <th>
          <p class="_fs-2 _light-gray">index</p>
        </th>
        <th>
          <p class="_fs-2 _light-gray">포스터</p>
        </th>
        <th>
          <p class="_fs-2 _light-gray">제목</p>
        </th>
        <th>
          <p class="_fs-2 _light-gray">장소</p>
        </th>
        <th>
          <p class="_fs-2 _light-gray">공연 시작일</p>
        </th>
        <th>
          <p class="_fs-2 _light-gray">공연 종료일</p>
        </th>
        <th>
          <p class="_fs-2 _light-gray">Ticket 업체</p>
        </th>
        <th>
          <p class="_fs-2 _light-gray">Ticket URL</p>
        </th>
        <th>
          <p class="_fs-2 _light-gray">Line-Up</p>
        </th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
      </thead>

      <% @temp_upcomings.each do |temp_upcoming| %>
          <%= render partial: "temp_upcoming_card", locals: {upcoming: temp_upcoming} %>
      <% end %>
    </table>
    <%= will_paginate @temp_upcomings %>
  </div>
</div>