<div class="_row-positioner">
  <%= render partial: "side_navbar_desktop" %>
  <div class="admin-desktop-container _flex-grow-1">
    <p class="_fs-1 _white">Upcoming Lists</p>
    <table>
      <thead>
      <tr>
        <th>
          <p class="_fs-2 _light-gray">index</p>
        </th>
        <th>
          <p class="_fs-2 _light-gray">포스터</p>
        </th>
        <th>
          <p class="_fs-2 _light-gray">제목</p>
        </th>
        <th>
          <p class="_fs-2 _light-gray">장소</p>
        </th>
        <th>
          <p class="_fs-2 _light-gray">공연 시작일</p>
        </th>
        <th>
          <p class="_fs-2 _light-gray">공연 종료일</p>
        </th>
        <th>
          <p class="_fs-2 _light-gray">Ticket</p>
        </th>
        <th>
          <p class="_fs-2 _light-gray">메인영상 ID</p>
        </th>
        <th>
          <p class="_fs-2 _light-gray">Ranking</p>
        </th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
      </thead>

      <tbody>
      <% @upcomings.each do |upcoming| %>
          <%= render partial: "upcoming_card", locals: {upcoming: upcoming} %>
      <% end %>
      </tbody>
    </table>
    <%= will_paginate @upcomings %>
  </div>
  <div id="artist-autocomplete">
  </div>
</div>
