$('body').append(
    '<div id="done-modal" class="modal">\
      <%= j render partial: "partial_views/check_modal_mobile", locals: {message: "#{current_user.nickname}님의 라이브가 전달되었습니다!"} %>\
    </div>'
);
$('#done-modal').modal();
sendConnectEvent(window.location.href+'&status=send');

window.setTimeout(function() {
    window.location = "<%= connect_urls_path %>";
}, 1500);
