$('body').append(
    '<div id="done-modal" class="modal">\
      <%= j render partial: "done_modal_mobile" %>\
    </div>'
);
$('#done-modal').modal();
window.setTimeout(function() {
    window.location = "<%= connect_urls_path %>";
}, 1000);
