$('body').append(
    '<div class="_full-container _vcenter-positioner _hcenter-positioner">\
      <%= j render partial: "partial_views/check_modal_desktop", locals: {message: "#{current_user.nickname}님의 라이브가 전달되었습니다!"} %>\
    </div>'
);
window.setTimeout(function() {
    window.location = "<%= connect_urls_path %>";
}, 1500);
