<header>
  <div class="row">
    <div class="col-xs-offset-4 col-xs-4">
      <div class="text-center">
        <h1>CONNECT</h1>
      </div>
    </div>
  </div>
</header>

<section id="connect">
  <div class="connect-border">
    <div class="connect-content-container">
      <p class="black-title"><%= @nickname %> 님이 느꼈던 전율의 순간. 그 떨림을 전해주세요</p>
    </div>
    <div class="connect-content-container">
      <div class="row">
        <div class="col-xs-8 ui labeled input">
          <div class="ui label">
            http://
          </div>
          <input type="text" placeholder="youtube.com">
        </div>
        <div class="col-xs-4">
          <button class="ui secondary button">
            <span class="connect-button-container">보내기</span>
          </button>
        </div>
      </div>
    </div>
    <div class="connect-content-container">
      <p class="black-content">링크를 보내주시면 큐레이션을 거쳐 메인 홈에 노출됩니다.</p>
    </div>
  </div>
</section>

<!-- Bottom Navbar -->
<%= render partial: "partial_views/bottom_navbar_mobile" %>