<div id="connect-index-mobile">
  <div class="_body-background-m"></div>

  <div class="content-container _vcenter-positioner _hcenter-positioner">
    <div class="text-container text-spacing">
      <p class="_fs-1-mobile _white">
        <%= current_user.nickname %>님이 느꼈던 전율의 순간.<br>
        그 떨림을 전해주세요
      </p>
    </div>

    <div class="connect-input-container">
      <%= form_tag new_connect_url_path, method: :get do %>
          <div class="_row-positioner">
            <div class="icon-container _vcenter-positioner">
              <%= image_tag "icon_video_cam", class: "input-icon" %>
            </div>
            <div class="input-container">
              <%= text_field_tag :video_url, nil, class: "input-field _f-letter-mobile _fs-3-mobile _white", rows: "1", placeholder: "URL을 입력해주세요" %>
            </div>
          </div>
      <% end %>
    </div>
  </div>
</div>