<div id="login-modal" class="modal">
  <div class="_big-modal _modal-background">
    <div class="_modal-filter">
      <%=render file: "devise/sessions/new_desktop.html.erb" %>
    </div>
  </div>
</div>
