$('body').append(
    '<div id="successful-login-modal" class="modal">\
<%= j render partial: "devise/sessions/successful_login_modal_#{@device_suffix}", locals: {message: flash[:notice]} %>\
</body>'
);
var successfulLoginModal = $('#successful-login-modal');
successfulLoginModal.modal();
setTimeout(function() {successfulLoginModal.modal('hide')}, 1500);
successfulLoginModal.on('hide.bs.modal', function() {
    successfulLoginModal.remove();
    if (isfacebookLoginCallbackTrue) {
        var loginModal = $('#login-modal');
        loginModal.modal('hide');
        loginModal.remove();
    } else {
        window.location = "<%= mypage_index_path %>";
    }
});
