<div id="devise-new">
  <% @enable_transparent = true %>
  <div class="_devise-background _column-positioner _vcenter-positioner _hcenter-positioner">
    <div class="moto-container _text-center _no-p-margin">
      <%= image_tag "logo_livle", class: "moto-margin _logo-livle" %>
      <p class="moto-margin _fs-5 _white _f-letter" id="login-error-message">Life is live</p>
    </div>
    <%= render partial: "new_modal_desktop" %>
  </div>
</div>
<%#= render partial: 'onclick_facebook_button', locals: {url: user_facebook_omniauth_authorize_path, remote: true} %>
