$('body').append(
    '<div id="successful-login-modal" class="modal">\n' +
    '    <%= render partial: "partial_views/check_modal_mobile", locals:{text: flash[:notice]} %>' +
    '</div>'
);

var successfulLoginModal = $('#successful-login-modal');
successfulLoginModal.modal();

setTimeout(function() {
    successfulLoginModal.modal('hide')
}, 1500);
successfulLoginModal.on('hide.bs.modal', function() {
    successfulLoginModal.remove();
    if (isfacebookLoginCallbackTrue) {
        var loginModal = $('#login-modal');
        loginModal.modal('hide');
        loginModal.remove();
        if('<%= @device_suffix %>' === 'desktop')
            window.location = "<%= feeds_path %>";
    } else {
        window.location = "<%= mypage_index_path %>";
    }
});
