/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

header {
  padding-top: 5%;
  padding-bottom: 3%;
}

.card-border {
  margin-left: 4%;
  margin-right: 4%;
  margin-top: 2.5%;
  margin-bottom: 2.5%;
  box-shadow: 0 0 96px -14px gray;
  -moz-box-shadow: 0 0 96px -14px gray;
  -webkit-box-shadow: 0 10px 96px -14px gray;
}

.card-title {
  padding-top: 2%;
  padding-bottom: 2%;
}

.card-thumbnail {
  overflow: hidden;
  position: relative;
  //TODO: javascript로 elemet height 값 입력하기
  height: 601.2px;
}

.card-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}

.card-thumbnail-filter {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.47) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.47) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.47) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
}

.card-brief {
  margin-left: 5%;
  margin-right: 5%;
  padding-top: 2%;
  padding-bottom: 2%;
}

.card-describe {
  margin-left: 5%;
  margin-right: 5%;
  padding-top: 4%;
  padding-bottom: 4%;
}

.card-button-share {
  width: 21.5%;
  height: auto;
  padding-right: 1%;
  padding-bottom: 3%;
}

/// WATCH
.watch-video {
  position: relative;
  width: 100%;
  height:0;
  padding-bottom: 56.25%;
  -webkit-overflow-scrolling: touch;
  overflow:hidden;
  //-webkit-overflow-scrolling: touch;
}

.watch-video iframe,
.watch-video object,
.watch-video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.watch-video-filter {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: -moz-linear-gradient(top, rgba(0,0,0,0.47) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0,0,0,0.47) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0,0,0,0.47) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}

.hr-container .watch-video-filter {
  background: -moz-linear-gradient(top, rgba(0,0,0,0.15) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0,0,0,0.15) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0,0,0,0.15) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#88000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}

.watch-video-back {
  position: absolute;
  top: 0;
  left: 0;
  padding: 4%;
}

.watch-connector-container {
  position:absolute;
  top: 4%;
  left: 10%;
  width: 60%;
}

.watch-video-info {
  padding-top: 3%;
  padding-left: 6%;
  padding-right: 6%;
  width: 100%;
}

.hr-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 2%;
}

/// TEXT STYLING

a {
  text-decoration: none !important;
  color: inherit !important;
}

h2 {
  font-size: 2.2em;
}

p {
  font-size: 1.6em;
  color: #757575;
}

.white-title {
  color: #ffffff;
  font-size: 2em;
}
.white-content {
  color: #ffffff;
  font-size: 1.6em;
}

.black-title {
  color: #000000;
  font-size: 2em;
}
.black-content {
  color: #000000;
  font-size: 1.6em;
}

.gray-title {
  color: #757575;
  font-size: 2em;
}
.gray-content {
  color: #757575;
  font-size: 1.6em;
}