// Place all the styles related to the feeds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.feed-info {
  position: absolute;
  bottom: 3%;
  left: 0;
  width: 100%;
  height: 5%;
}

.feed-info-icon {
  display: inline-block;
  height: 100%;
  width: auto;
  padding-left: 3%;
  padding-right: 1%;
}

.white-content {
  display: inline-block;
  padding-right: 1%;
}

#info .info-icon {
  display: inline-block;
  height: 30pt;
  width: auto;
}

#info .gray-content {
  display: inline-block;
  padding-left: 3%;
}