// They will automatically be included in application.css.
// Place all the styles related to the mypage controller here.
// You can use Sass (SCSS) here: http://sass-lang.com/
.mypage-index-profile-img {
  position: relative;
  top: 3rem;
  left: 40.4rem;
  width: 17rem;
  height: 17rem;
  border-radius: 100%;
  border: 0.2rem black solid;
}
.mypage-index-email {
  margin-top: 3rem;
  font-size: 3.5rem;
}
.mypage-index-likes {
  margin-top: 1.5rem;
}
.mypage-index-likes span:first-child{
  font-size: 2.5rem;
}
.mypage-index-likes span:last-child {
  font-size: 3rem;
  color: grey;
}
.mypage-index-settings {
  margin-top: 4rem;
  div {
    border-color: grey;
    border-radius: 1rem;
    border-style: solid;
    height: 8rem;
    font-size: 3rem;
    color: grey;
  }
}
.mypage-index-edit-profile {
  padding-top: 1.6rem;
}
.mypage-index-gear {
  margin-left: 2rem;
  img {
    width: 80%;
    height: 100%;
  }
}
.mypage-index-pick-list {
  margin-top: 5rem;
  display: inline-block;
  background-color: #D9D9D9;
  border-radius: 1.5rem;
  width: 90%;
  text-align: left;
  font-size: 2.5rem;
  div {
    margin-top: 1rem;
    margin-bottom: 1rem;
    div {
      display: inline-block;
      img {
        margin-left: 1.5rem;
        width: 100%;
      }
    }
  }
}
.mypage-index-pick-list .row:first-child {
  font-weight: bold;
}
.mypage-index-mylist {
  margin-top: 3rem;
}
.mypage-index-mylist-heart {
  img {
    margin-left: 5rem;
    width: 5rem;
    height: 5rem;
  }
}
.mypage-index-mylist div:nth-child(2) {
  font-size: 2.5rem;
  font-weight: bold;
  margin-left: 3rem;
}
.mypage-edit-profile-email {
  margin-top: 10rem;
  font-size: 4rem;
}
.mypage-edit-profile-nickname {
  font-size: 4rem;
  margin-top: 5rem;
}
.mypage-settings-background {
  background-color: #EFEFF4;
  height: 10rem;
  border-top: 1px #EFEFF4 solid;
  border-bottom: 1px #EFEFF4 solid;
}
.mypage-settings-row {
  height: 10rem;
  padding: 2.5rem 1.5rem;
  div {
    font-size: 3.5rem;
    img {
      height: 7rem;
      width: 7rem;
    }
  }
}
.mypage-settings-offset-line {
  position: absolute;
  left: 10%;
  width: 90%;
  margin: 0;
  background-color: black;
}

// Edit Page
.mypage-header-container {
  top: 0;
  left: 0;
  width: 100%;
  h1 {
    padding-top: 5%;
    padding-bottom: 3%;
  }
}

.mypage-back-button {
  position: absolute;
  top: 0;
  left: 0;
  padding: 5%;
}

.mypage-inputfile {
  position: absolute;
  display: none;
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  z-index: -1;
}

.mypage-profile-img-position {
  width: 100%;
  padding-top: 38%;
}

.mypage-profile-img-container {
  position: relative;
  height: 35rem;
  width: 35rem;
  border-radius: 100%;
  border: 0.2rem black solid;
}

.mypage-profile-img {
  position: absolute;
  top: 3%;
  left: 3%;
  width: 94%;
  height: 94%;
  object-fit: cover;
  overflow: hidden;
  border-radius: 50%;
}

.mypage-edit-pencil {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 11rem;
  height: 7.5rem;
  padding: 1.5rem;
  border: 0.2rem black solid;
  border-radius: 1rem;
  background-color: white;
}

.mypage-notice-container {
  margin-top: 3%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 3%;
  padding: 3%;
  padding-left: 5%;
  padding-right: 5%;
  border-radius: 3em;
  background: #EBEBEB;
}

.mypage-settings-modal-container {
  position: absolute;
  top: 34%;
  left: 14%;
  width: 72%;
  height: 32%;
  background: #ffffff;
  border-radius: 2rem;
}

.mypage-settings-modal-header {
  padding-top: 12%;
  padding-bottom: 12%;
}

.mypage-settings-modal-box {
  padding: 3%;
  margin-bottom: 4%;
  margin-left: 10%;
  margin-right: 10%;
  background-color: #E0E0E0;
  border-radius: 2rem;
}
