<tr>
  <td align="center" style="padding-top: 20px; background: #000000;">
    <table cellspacing="0" cellpadding="0">
      <tr>
        <td valign="center" align="center">
          <%= link_to "https://www.facebook.com/Livlemusic/" do %>
              <%= image_tag "logo_facebook_gray", style: "width: auto; height: 22px; padding-right: 16px;" %>
          <% end %>
        </td>
        <td>
          <%= link_to "http://blog.naver.com/livle" do %>
              <%= image_tag "logo_blog_gray", style: "width: auto; height: 22px; padding-left: 16px;" %>
          <% end %>
        </td>
      </tr>
    </table>
  </td>
</tr>
<tr>
  <td align="center" style="padding-top: 20px; padding-bottom: 30px; background: #000000;">
    <table cellspacing="0" cellpadding="0">
      <tr>
        <td align="center" style="padding-top: 5px; padding-bottom: 5px; font-size: 10pt; color: #b3b3b3 !important; text-decoration: none;">
          라이블 | www.livle.kr | contacts@livle.kr
        </td>
      </tr>
      <tr>
        <td align="center" style="padding-top: 5px; padding-bottom: 5px; font-size: 10pt; color: #b3b3b3;">
          경기도 성남시 분당구 판교로89번길 20, 스타트업캠퍼스 8층
        </td>
      </tr>
      <tr>
        <td align="center" style="padding-top: 5px; padding-bottom: 5px; font-size: 10pt; color: #b3b3b3;">
          Copyright @ Livle All Rights Reserved | 고객센터 : 070-8163-4068
        </td>
      </tr>
    </table>
  </td>
</tr>