<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  <style>
    /*border*/
    .no-border {
      border-collapse: collapse;
    }
    .white-border {
      border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #ffffff;
    }
    .gray-border {
      border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #999999;
    }
    /*container*/
    table {
      table-layout:fixed;
    }
    td {
      word-wrap:break-word;
    }
    .mail-container {
      padding-top: 20px; padding-bottom: 20px;
    }
    .header-container {
      padding-top: 20px; padding-right: 40px; padding-bottom: 20px; padding-left: 40px; background-color: #121212;
    }
    .body-container {
      padding-top: 30px; padding-right: 40px; padding-bottom: 30px; padding-left: 40px; background-color: #ffffff;
    }
    .hr {
      padding-top: 36px; background-color: #121212;
    }
    /*element*/
    .logo-livle {
      width: auto; height: 40px; padding-right: 20px;
    }
    .header-content {
      padding-top: 60px; padding-bottom: 60px;
    }
    .body-button {
      height: 60px; border-width: 1px; border-style: solid; border-color: #121212; border-radius: 12px;
    }
    .body-button:hover {
      background: #121212; cursor: pointer; color: #ffffff;
    }
    /*font*/
    .fs-1 {
      font-size: 20px;
    }
    .fs-2 {
      font-size: 16px;
    }
    /*color*/
    .white {
      color: #ffffff;
    }
    .black {
      color: #121212;
    }
    .gray {
      color: #999999;
    }
  </style>
</head>
<body>
  <table align="center" width="100%" border="0" cellspacing="0" cellpadding="0">
    <tbody>
    <tr>
      <td align="center" valign="top" bgcolor="#f7f7f7" style="padding-top: 20px; padding-bottom: 20px; border-collapse: collapse;" class="mail-container no-border">
        <table width="600" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td valign="top" bgcolor="#ffffff">
              <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td valign="top" validation="top" style="padding-top: 36px; background-color: #121212; border-collapse: collapse;" class="hr no-border">
                    <table align="right" width="90%" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td style="border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #ffffff;" class="white-border"></td>
                      </tr>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td align="left" style="padding-top: 20px; padding-right: 40px; padding-bottom: 20px; padding-left: 40px; background-color: #121212; border-collapse: collapse;" class="header-container no-border">
                    <table align="right" width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td width="100%;">
                          <table>
                            <tr>
                              <td>
                                <%= image_tag "logo_livle", style: "width: auto; height: 40px; padding-right: 20px;" %>
                              </td>
                              <td valign="top" style="font-size: 16px; color: #ffffff;" class="fs-2 white">
                                Welcome To LIVLE
                              </td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                      <tr>
                        <td align="center" style="padding-top: 60px; padding-bottom: 60px; font-size: 16px; color: #999999;" class="header-content fs-2 gray">
                          <pre><%= message %></pre>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td align="center" style="padding-top: 50px; padding-right: 40px; padding-bottom: 50px; padding-left: 40px; background-color: #ffffff; border-collapse: collapse;" class="body-container no-border">
                    <table width="40%;" cellspacing="0" cellpadding="0">
                      <tr>
                        <td align="center">
                          <%= link_to button, redirect_url, style: "padding: 16px 52px; border-width: 1px; border-style: solid; border-color: #121212; text-decoration: none; border-radius: 12px; font-size: 20px; color: #121212;" %>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td>
                    <table align="center" width="100%;" cellspacing="0" cellpadding="0" style="padding-right: 40px; padding-left: 40px;">
                      <tr>
                        <td style="border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #999999;" class="gray-border"></td>
                      </tr>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td style="padding-top: 30px; padding-right: 40px; padding-bottom: 30px; padding-left: 40px; background-color: #ffffff; border-collapse: collapse;" class="body-container no-border">
                    <table width="100%;" cellspacing="0" cellpadding="0">
                      <tr>
                        <td style="font-size: 16px; color: #999999;" class="fs-2 gray"><%= notice %></td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </td>
    </tr>
    </tbody>
  </table>
</body>
</html>
