<div class="mypage-settings-modal-container">
  <div class="_small-modal-title text-center">
    <p class="black-title">페이스북으로 만든 계정은 비밀번호를 바꿀 수 없습니다.</p>
  </div>
  <div class="mypage-settings-modal-box text-center" data-dismiss="modal">
    <p class="black-title">취소</p>
  </div>
</div>