<div class="mypage-settings-modal-container">
  <div class="mypage-settings-modal-header text-center">
    <p class="black-title">로그아웃하시겠어요?</p>
  </div>
  <div class="mypage-settings-modal-box text-center">
    <%= link_to(destroy_user_session_path, method: "DELETE") do %>
      <p class="black-title">로그아웃</p>
    <% end %>
  </div>
  <div class="mypage-settings-modal-box text-center" data-dismiss="modal">
    <p class="black-title">취소</p>
  </div>
</div>
