<% url = defined?(url) ? url : "" %>
<% method = defined?(method) ? method : "" %>
<% onclick = "event.preventDefault();#{defined?(onclick) ? onclick : defined?(url) ? "" : "return false;"}" %>
<% remote = defined?(remote) ? remote : false %>
<% colorClass = defined?(color) ? "_" + color : "_white" %>
<% showArrow = colorClass == "_white" %>

<%= link_to url, method: method, onclick: onclick, remote: remote do %>
    <div class="settings-element-container _vcenter-positioner _no-p-margin">
      <p class="_flex-grow-1 _fs-2-mobile <%= colorClass %>"><%= tag %></p>
      <% if showArrow %>
          <%= image_tag 'icon_arrow_right', class: "arrow-icon" %>
      <% end %>
    </div>
<% end %>
