<div class="mypage-settings-modal-container">
  <div class="mypage-settings-modal-header text-center">
    <p class="black-title">라이블에게 문의하기</p>
  </div>
  <div class="mypage-settings-modal-box text-center">
    <p class="black-title">이메일</p>
  </div>
  <div class="mypage-settings-modal-box text-center">
    <p class="black-title">페이스북 메세지</p>
  </div>
</div>