<div class="mypage-header-container text-center">
  <%= link_to url_for(:back) do %>
    <div class="mypage-back-button">
      <%= image_tag("icon_back_black", style: "width: 2.6rem; height: auto;") %>
    </div>
  <% end %>
  <h1><%= title %></h1>
</div>
