<div class="_small-modal">
  <div class="_modal-background _column-positioner _hcenter-positioner">
    <div class="_small-modal-title text-center">
      <%= image_tag "icon_qna", class: "_modal-big-icon-m" %>
      <p class="_fs-4-mobile _white _f-letter-mobile _f-line-mobile _text-center">
        이미 사용중인 닉네임입니다
      </p>
    </div>
  </div>
</div>