<div id="mypage-about" class="_hcenter-positioner">
  <div class="_desktop-container">
    <div class="text-container _text-center">
      <p class="_fs-about _white">About LIVLE</p>
    </div>
    <hr>
    <div class="content-container">
      <div class="text-container _text-center">
        <p class="_fs-2 _light-gray">
          온라인 음악 영상과 오프라인 콘서트를 연결하여<br />
          라이브 음악을 즐기는 사람들에게<br />
          새로운 라이프 스타일을 제공하는 기업입니다.
        </p>
      </div>
      <div class="text-container _text-center">
        <p class="_fs-2 _light-gray">
          라이블은 음악의 힘을 믿습니다.<br />
          과거의 음악은 단순히 귀로 듣는 것이 아닌 온 몸으로 느끼는 것이었습니다.<br />
          음악은 함께 추는 춤이자 항해의 시작을 알라는 떨림이었으며, 타인과 소통하는 눈짓이었습니다.<br />
          하지만 어느순간 음악은 귀로만 듣는 것으로 변질되었습니다.
        </p>
      </div>
      <div class="text-container _text-center">
        <p class="_fs-2 _light-gray">
          이제 라이블은 듣는 음악에서 보는 음악으로,<br />
          더 나아가 온 몸으로 느끼는 음악으로,<br />
          음악의 본질은 다시 회복하겠습니다.
        </p>
      </div>
      <div class="text-container _text-center">
        <p class="_fs-2 _light-gray">
          자, 축제를 시작하세요.<br />
          당신의 삶은 라이브, 그 자체입니다.
        </p>
      </div>
      <div class="text-container _text-center">
        <p class="_fs-2 _light-gray">
          Life is live, LIVLE.
        </p>
      </div>
      <div class="text-container _text-center">
        <%= image_tag "logo_livle", class: "_logo-livle" %>
      </div>
      <hr>
    </div>
  </div>
</div>