<header>
  <div class="row">
    <div class="mypage-back-button">
    </div>
    <div class="col-xs-offset-4 col-xs-4">
      <div class="text-center">
        <h1>조혜민닉네임</h1>
      </div>
    </div>
  </div>
</header>
<hr>

<section class="text-center">
  <div class="mypage-edit-profile-image">
  </div>

  <div class="mypage-edit-profile-email">
    atta1125@gmail.com
  </div>

  <div class="mypage-edit-profile-nickname">
    조혜민닉네임
  </div>
  
</section>
