$('._desktop-container-narrow').append(
  '<div id="edit-profile-modal">\n' +
  '  <%= j render file: "mypage/edit_profile_desktop.html.erb" %>\n' +
  '</div>'
);

//works like modal
$('body').on('click', function (e) {
    $target = $('#edit-profile-modal');
    $target.remove();
}).find('#mypage-edit-profile').on('click', function (e) {
  e = e || window.event;
  var targ = e.target || e.srcElement;
  if (targ.nodeType == 3) targ = targ.parentNode; // defeat Safari bug
  // a 태그의 children이 아닐 경우에만 stopPropagation
  if($(targ).parents('a').length == 0) {
    e.stopPropagation();
  }
});

//change profile image event
$(':file').change(function () {
    updateImg(this);
});

function updateImg(input) {
    if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = function (e) {
            $('#upload-profile-img').attr('src', e.target.result);
        };
        reader.readAsDataURL(input.files[0]);
    }
}
