$('body').append(
  '<div class="_full-container" id="edit-profile-modal">' +
    '<%= j render file: "mypage/edit_profile_desktop.html.erb" %>' +
  '</div>'
);

$('body').on('click', function (e) {
    $target = $('#edit-profile-modal');
    $target.remove();
}).find('#mypage-edit-profile').on('click', function (e) {
    console.log("triggered");
    e.stopPropagation();
});