<header>
  <div class="row">
    <div class="col-xs-offset-4 col-xs-4">
      <div class="text-center">
        <h1>조혜민닉네임</h1>
      </div>
    </div>
  </div>
</header>
<hr>

<section>
  <div class="text-center">
    <div class="mypage-index-profile-image">
    </div>
  </div>

  <div class="text-center mypage-index-email">
    atta1125@gamil.com
  </div>

  <div class="text-center mypage-index-likes">
    <span>좋아요 수 </span><span>234</span>
  </div>

  <div class="row mypage-index-settings">
    <div class="text-center col-xs-offset-2 col-xs-5">
      프로필 설정
    </div>
    <div class="text-center col-xs-offset-1 col-xs-2">
      톱니바퀴
    </div>
  </div>

  <div class="row text-center">
    <div class="mypage-index-pick-list">
      heart
      <p>찜 목록</p>
      <div class="col-xs-1 col-xs-8">
        하이네켄 프레젠트 스타디움
      </div>
      <div class="col-xs-3">
        D-35
      </div>
      <div class="col-xs-1 col-xs-8">
        펜타포트 락 페스티벌 2017
      </div>
      <div class="col-xs-3">
        D-100
      </div>
    </div>
  </div>

  <div class="row">
    heart
    <p>마이 리스트</p>
  </div>
</section>
