<div id="mypage-privacy-policy">
  <div class="_hcenter-positioner">
    <div class="_desktop-container">
      <div class="title-container">
        <p class="_fs-title _light-green">개인정보처리방침</p>
      </div>
      <div class="content-container">
        <p class="_fs-1 _light-green">제 1조 (목적)</p>
        <p class="_fs-3 _white">
          이 약관은~~~~~~~~~~~~~~
        </p>
      </div>
      <div class="content-container">
        <p class="_fs-1 _light-green">제 2조 (정의)</p>
        <p class="_fs-3 _white">
          이 약관은~~~~~~~~~~~~~~
        </p>
      </div>
    </div>
  </div>
</div>