<div class="_body-background-m"></div>
<%= render partial: '/mypage/top_mobile', locals: {title: "My page"} %>

<div class="_full-container _column-positioner _hcenter-positioner _vcenter-positioner">
  <div id="device-recover-email-sent-mobile">
    <div class="_column-positioner _vcenter-positioner">
      <%= image_tag "logo_livle", class: "_logo-container-m" %>
      <div class="moto-container _text-center">
        <p class="_fs-3-mobile _white _f-letter-mobile">메일이 성공적으로 발송되었습니다.</p>
      </div>

      <div class="button-container">
        <div class="_vcenter-positioner _hcenter-positioner">
          <%= link_to "확인", mypage_index_path, class: "button-width _submit-button _fs-2-mobile _white" %>
        </div>
      </div>
    </div>
  </div>
</div>