<div class="_body-background-m"></div>
<%= render partial: '/mypage/top_mobile', locals: {title: "My page"} %>

<div class="_full-container _column-positioner _hcenter-positioner _vcenter-positioner">
  <%= render file: 'devise/passwords/new_mobile' %>
</div>