$('#mypage-title').text("<%= @user.nickname %>");
$('#edit-profile-modal').remove(); //remove current modal
$('._desktop-container-narrow').append(
    '<div id="edit-profile-modal">' +
      '<%= j render partial: "partial_views/check_modal_desktop", locals: {message: "프로필이 저장되었습니다"} %>' +
    '</div>'
);
setTimeout(function() {
    //mapage#index로 회귀
    window.location.assign("<%= mypage_index_url %>");
}, 1500);