$('body').append(
    '<div id="update-profile-error-modal" class="modal">\
<%= j render partial: "partial_views/error_modal_desktop", locals: {message: '프로필을 저장하는데 실패했습니다'} %>\
</div>'
);
var alertModal = $('#update-profile-error-modal');
alertModal.modal();
setTimeout(function() {alertModal.modal('hide')}, 1500);
alertModal.on('hide.bs.modal', function() {
    alertModal.remove();
});