$('#mypage-title').text("<%= @user.nickname %>");
$('body').append(
    '<div id="successful-update-profile-modal" class="modal">\
      <%= j render partial: "successful_update_profile_modal_mobile" %>\
    </div>'
);
var alertModal = $('#successful-update-profile-modal');
alertModal.modal();
setTimeout(function() {
    alertModal.modal('hide')
}, 1500);
alertModal.on('hide.bs.modal', function() {
    alertModal.remove();
});
//mapage#index로 회귀
window.location.assign("<%= mypage_index_url %>");