$(document).html(
  "<form id='modal-page' class='modal'>"+
    "<div class=\"_big-modal-container\">"+
      "<%= escape_javascript(render file: '/devise/sessions/new_mobile.html.erb') %>"+
    "</div>"+
  "</form>");
$('#modal-page').modal();
