// Place all the styles related to the connect_urls controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "globals/colors";
@import "globals/sizes";
@import "globals/mixins";

//########################
//#        MOBILE        #
//########################
#connect-index-mobile,
#connect-new-mobile {
  ::-webkit-input-placeholder {
    color: $white !important;
  }
  :-moz-placeholder {
    color: $white !important;
  }
  ::-moz-placeholder {
    color: $white !important;
  }
  :-ms-input-placeholder {
    color: $white !important;
  }

  .info-text-container {
    padding: 0 0 4%;
    text-align: center;
  }
  .text-spacing {
    line-height: 600%;
    letter-spacing: 1rem;
  }

  .input-field {
    @include size(100%);
    background: none;
    padding: 2% 4%;
    border: none;
  }

  .submit-container {
    width: 100%;
    margin: 8% 0;
  }

  .submit-button {
    width: 45%;
    padding: 3% 0;
    background: none;
    border: 2px solid $white;
    @include border-radius($br-image-m);
  }
}

#connect-index-mobile {
  .background-img {
    position: fixed;
    top: 0; left: 0; right: 0;
    @include size(100%, auto);
    object-fit: contain;
  }

  .connect-input-container {
    width: 90%;
  }

  .icon-container {
    height: 10rem;
    padding: 0 4%;
    margin: 0 .6% 0 0;
    background: rgba(256, 256, 256, 0.27);
    @include border-radius($br-min-m 0 0 $br-min-m);
  }

  .input-container {
    @include flex-grow(1);
    height: 10rem;
    background: $gray-opacity;
    @include border-radius(0 $br-min-m $br-min-m 0);
  }

  .input-icon {
    @include size(auto, 5rem);
  }
}

#connect-new-mobile {
  .input-container {
    @include size(100%, auto);
    min-height: 24rem;
    background: $gray-opacity;
    @include border-radius($br-min-m);
  }

  .connect-input-container {
    padding: 61.25% 0 0;
    width: 90%;
  }
}

//########################
//#       DESKTOP        #
//########################
#connect-index,
#connect-new {
  .submit-button {
    @include size(auto, 4rem);
    margin: 0 0 0 3rem;
    padding: 0 2rem;
    background: $dark-gray;
    border: none;
    @include border-radius($br-min);
    &:hover {
      cursor: pointer;
      background: $dark-dark-gray;
    }
  }
  .submit-icon {
    @include size(auto, 2rem);
  }
}

#connect-index {
  background: $black;
  min-height: 70em;

  .connect-background {
    position: relative;
    padding: $navbar-h 0 0;
    @include size(100%, 70rem);
  }

  .video-player {
    position: absolute;
    @include size(100%, 0);
    padding-bottom: 56.25%;
    background: rgba(0, 0, 0, 1);
    overflow: hidden;
    iframe, object, embed {
      position: absolute;
      @include size(100%);
    }
  }
  @media (max-width: 1495px) {
    .video-player {
      top: 0;
    }
  }
  @media (min-width: 1496px) {
    .video-player {
      bottom: -20%;
    }
  }

  .connect-title-container {
    padding: 0 0 4rem;
    .connect-describe-group {
      margin: 8rem 0 0;
    }
    .connect-describe-container {
      padding: 0 2rem;
    }
    .describe-devider {
      @include size(6rem, 3rem);
      border-bottom: 3px dotted $white;
    }
    .describe-icon {
      @include size(auto, 6rem);
      margin: 0 0 3rem;
    }
  }
  .connect-input-container {
    position: relative;
    padding: 8rem 0;
    background: $black;
  }
  .icon-container {
    padding: 0 4rem 0 0;
    .input-icon {
      @include size(auto, 4rem);
      width: auto;
      height: 4rem;
    }
  }

  .input-container {
    @include flex-grow(1);
    height: 4rem;
    background: none;
    border: 1px solid $gray-opacity;
    @include border-radius($br-min);
    .input-field {
      @include size(100%);
      background: none;
      border: none;
      padding: 2%;
    }
  }
}

#connect-new {
  background: $black;
  min-height: 70em;

  .connect-url-container {
    padding: 8rem 0 4rem;
  }
  .icon-container {
    padding: 0 4rem 0 0;
    .input-icon {
      width: auto;
      height: 4rem;
    }
  }

  .new-video-container {
    position: relative;
    @include size(100%, auto);
    margin: 2rem 0;
  }

  .input-container {
    @include size(100%, auto);
    background: none;
    border: 1px solid $white;
    @include border-radius($br-min);
    .input-field {
      @include size(100%, auto);
      min-height: 12rem;
      background: none;
      border: none;
      padding: 1rem;
    }
  }
}