@import "globals/sizes";
@import "globals/colors";
@import "globals/mixins";

//########################
//#        MOBILE        #
//########################
#device-new-mobile,
#device-recover-new-mobile,
#device-recover-email-sent-mobile,
#device-signup-mobile {
  width: 100%;

  .moto-container {
    padding: 6% 0 10% 0;
  }

  .login-input-container {
    width: 75%;
    margin: 2% 0;
  }

  .icon-container {
    height: 10rem;
    padding: 0 4%;
    margin: 0 0.6% 0 0;
    background: rgba(256, 256, 256, 0.27);
    @include border-radius($br-min-m 0 0 $br-min-m);
  }

  .input-container {
    @include flex-grow(1);
    height: 10rem;
    background: rgba(256, 256, 256, 0.27);
    @include border-radius(0 $br-min-m $br-min-m 0);
  }

  .input-icon {
    @include size(auto, 5rem);
  }

  .input-field {
    @include size(100%);
    background: none;
    padding: 2% 4%;
    border: none;
  }

  .button-container {
    padding: 4% 0;
    width: 75%;
  }

  .button-width {
    width: 43%;
  }
  .button-margin {
    width: 14%;
  }

  .hr-container {
    margin-top: 3%;
    width: 75%;
    .hr {
      height: 2px;
      background: $white;
      @include flex-grow(1);
    }
    .hr-text {
      margin: 0 10%;
    }
  }
}

#device-link-mobile {
  .facebook-button {
    padding: 5%;
    background: $facebook-blue;
    @include flex-grow(1);
    border: none;
  }

  .option-text-container {
    padding: 4% 0;
  }
}

//########################
//#       DESKTOP        #
//########################
#device-new,
#device-signup {
  .moto-container {
    padding: 0 0 4rem;
    .moto-margin {
      margin: 0.8rem 0;
    }
  }

  .login-container {
    @include size(100%, auto);
    background: $dark-dark-gray;
    @include border-radius($br-min);
    padding: 4rem 2rem;

    .button-container {
      @include size(100%, auto);
      margin: 0 0 1rem;
      .button-width {
        width: 45%;
      }
      .button-margin {
        width: 10%;
      }
    }

    .hr-container {
      margin-top: 3%;
      width: 100%;
      .hr {
        height: 1px;
        background: $white;
        @include flex-grow(1);
      }
      .hr-text {
        margin: 0 10%;
      }
    }
    .option-text-container {
      padding: 0.6rem 0;
    }
  }

  .login-input-container {
    width: 100%;
    margin: 1rem 0;
    .icon-container {
      height: 4rem;
      padding: 0 1.4rem;
      margin: 0 0.2rem 0 0;
      background: rgba(256, 256, 256, 0.27);
      @include border-radius($br-min 0 0 $br-min);
    }

    .input-container {
      @include flex-grow(1);
      height: 4rem;
      background: rgba(256, 256, 256, 0.27);
      @include border-radius(0 $br-min $br-min 0);
    }

    .input-icon {
      @include size(auto, 2.5rem);
    }

    .input-field {
      background: none;
      border: none;
      padding: 1rem;
      @include size(100%);
    }
  }
}

#device-new {
  .input-group {
    @include flex-grow(1);
    @include size(100%, auto);
    margin: 3rem 0;
  }
}
#device-signup {
  .input-group {
    @include flex-grow(1);
    @include size(100%, auto);
    margin: 0 0 3rem;
  }
}

#device-link {
  .facebook-button {
    padding: 1.6rem 0;
    background: $facebook-blue;
    @include flex-grow(1);
    border: none;
  }
}