@import "globals/sizes";
@import "globals/colors";
@import "globals/mixins";

//########################
//#        MOBILE        #
//########################
#device-new-mobile,
#device-recover-new-mobile,
#device-recover-email-sent-mobile,
#device-signup-mobile {
  width: 100%;

  .moto-container {
    padding: 6% 0 10% 0;
  }

  .login-input-container {
    width: 75%;
    margin: 2% 0;
  }

  .icon-container {
    height: 10rem;
    padding: 0 4%;
    margin: 0 0.6% 0 0;
    background: rgba(256, 256, 256, 0.27);
    @include border-radius($br-min-m 0 0 $br-min-m);
  }

  .input-container {
    @include flex-grow(1);
    height: 10rem;
    background: rgba(256, 256, 256, 0.27);
    @include border-radius(0 $br-min-m $br-min-m 0);
  }

  .input-icon {
    @include size(auto, 5rem);
  }

  .input-field {
    @include size(100%);
    background: none;
    padding: 2% 4%;
    border: none;
  }

  .button-container {
    padding: 4% 0;
    width: 75%;
  }

  .button-width {
    width: 43%;
  }
  .button-margin {
    width: 14%;
  }

  .hr-container {
    margin-top: 3%;
    width: 75%;
    .hr {
      height: 2px;
      background: $white;
      @include flex-grow(1);
    }
    .hr-text {
      margin: 0 10%;
    }
  }
}

#device-link-mobile {
  .facebook-button {
    padding: 5%;
    background: $facebook-blue;
    @include flex-grow(1);
    border: none;
  }

  .option-text-container {
    padding: 4% 0;
  }
}

//########################
//#       DESKTOP        #
//########################