// Place all the styles related to the feeds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "globals/colors";
@import "globals/sizes";

//Mobile
#feeds-index-mobile,
#feeds-show-mobile,
#curations-show-mobile {
  background: $black;
}

//Desktop
#feeds-index {
  background: $black;

  .curation-container {
    position: relative;
    top: 0; left: 0; right: 0;
    height: 36rem;
    background: $gray;
  }

  .feed-container {
    padding: 8rem 0;
    background: $black;
  }

  .feed-list-container {
    position: relative;
    width: $wide-width;
  }
  @media (max-width: $desktop) {
    .feed-list-container {
      width: $narrow-width;
    }
  }

  .prev-list {
    position: absolute;
    top: 0; left: 0; bottom: 0;
    width: 8rem;
    background: -moz-linear-gradient(left, rgba(0,0,0,1) 30%, rgba(0,0,0,0.8) 85%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(0,0,0,1) 30%, rgba(0,0,0,0.8) 85%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(0,0,0,1) 30%, rgba(0,0,0,0.8) 85%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    &:hover {
      cursor: pointer;
    }
  }
  #prev-btn {
    display: none;
  }

  .next-list {
    position: absolute;
    top: 0; right: 0; bottom: 0;
    width: 8rem;
    background: -moz-linear-gradient(right, rgba(0,0,0,1) 30%, rgba(0,0,0,0.8) 85%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(right, rgba(0,0,0,1) 30%, rgba(0,0,0,0.8) 85%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to left, rgba(0,0,0,1) 30%, rgba(0,0,0,0.8) 85%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    &:hover {
      cursor: pointer;
    }
  }

  .current-list {
    position: relative;
    top: 0; left: 0; bottom: 0; right: 0;
    overflow-x: scroll;
    overflow-y: hidden;
  }

  .card-container {
    position: relative;
    width: 16rem;
    margin: 2rem;
  }
}

#curation-card {
  .curation-background {
    overflow: hidden;
  }

  .curation-filter {
    background: $black-opacity;
    padding: $navbar-height 0 0;
  }

  .curation-video-container {
    position: relative;
    top: 0;
    width: 54rem;
    height: auto;
  }

  .curation-describe-container {
    position: relative;
    top: 0; left: 0; bottom: 0;
    width: 50rem;
    margin: 0 0 0 12rem;
    p { margin: 0; }
  }
  @media (max-width: $desktop) {
    .curation-video-container {
      width: 48rem;
    }

    .curation-describe-container {
      width: 42rem;
      margin: 0 0 0 6rem;
    }
  }

  .curation-text-container {
    padding: 4% 0 0;
  }

  .curation-button {
    width: 7rem;
    height: $navbar-h;
    margin: 1rem 0 0;
    border: 1px solid $white;
    border-radius: $br-min;

    &:hover {
      background: $white;
      p {
        color: $black;
      }
    }
  }
}

#feeds-show,
#curations-show {
  background: $black;

  .show-container {
    padding: $navbar-height 0 0;
    width: $wide-width;
  }
  @media (max-width: $desktop) {
    .show-container {
      width: $narrow-width;
    }
  }

  .show-video-container {
    position: relative;
    top: 0;
    padding: 2rem 0;
    width: 80%;
  }
  .related-video-container {
    position: relative;
    top: 0;
    background: none;
    width: 20%;
    height: auto;
  }
  //@media (max-width: $desktop) {
  //  .show-video-container {
  //    width: 75%;
  //  }
  //  .related-video-container {
  //    width: 25%;
  //  }
  //}

  .text-container {
    padding: 2rem 0 0;
  }

  .related-video-background {
    position: absolute;
    top: 2rem; left: 2rem; bottom: 2rem; right: 2rem;
    z-index: 1;
    overflow: hidden;
    border: none;
    -webkit-border-radius: $br-image;
    -moz-border-radius: $br-image;
    border-radius: $br-image;
  }

  .related-video-filter {
    background: $black-opacity;
  }

  .related-card-container {
    position: relative;
    z-index: 2;
    width: 100%;
    padding: 3rem 0;
    height: auto;
  }

  .card-container {
    position: relative;
    width: 16rem;
  }
  @media (max-width: $desktop) {
    .card-container {
      width: 12rem;
    }
  }
}