// Place all the styles related to the feeds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "globals/colors";
@import "globals/sizes";
@import "globals/mixins";

//########################
//#        MOBILE        #
//########################
#feeds-index-mobile,
#feeds-show-mobile {
  background: $black;
}

#feeds-show-mobile {
  .info-container {
    padding: $list-container-pv-m $list-container-ph-m;
    background: $dark-dark-gray;
  }

  .text-padding {
    @include size(75%, 12rem);
    padding: 0 0 0 $list-container-ph-m;
  }

  .text-row {
    width: 100%;
    padding: 2% 0;
  }

  .describe-container {
    padding-top: $list-container-pv-m;
  }
}

//########################
//#       DESKTOP        #
//########################
#official-card {
  .official-background {
    overflow: hidden;
  }

  .official-filter {
    background: $black-opacity;
    padding: $navbar-height 0 0;
  }

  .official-video-container {
    position: relative;
    @include size(54rem, auto);
  }

  .official-describe-container {
    position: relative;
    width: 50rem;
    margin: 0 0 0 12rem;
  }
  @media (max-width: $desktop) {
    .official-video-container {
      width: 48rem;
    }

    .official-describe-container {
      width: 42rem;
      margin: 0 0 0 6rem;
    }
  }

  .official-text-container {
    padding: 4% 0 0;

    &:last-of-type {
      max-height: 15rem;
      overflow-y: hidden;
    }
  }

  .official-button {
    @include size(5rem, 100%);
    &:hover {
      cursor: pointer;
    }
  }

  .show-button {
    @include size(7rem, $navbar-h);
    margin: 1rem 0 0;
    border: 1px solid $white;
    @include border-radius($br-min);
    &:hover {
      background: $white;
      p { color: $black; }
    }
  }
}

#feeds-index {
  background: $black;

  .official-container {
    position: relative;
    top: 0;
    @include size(100%, 36rem);
  }

  .feed-container {
    padding: 8rem 0;
    background: $black;
  }

  .prev-filter {
    position: absolute;
    top: 0; left: 0; bottom: 0;
    width: 8rem;
    @include background-gradient(left, rgba(18,18,18,1) 30%, rgba(18,18,18,0.8) 85%, rgba(18,18,18,0) 100%);
  }
  #prev-section {
    display: none;
  }

  .next-filter {
    position: absolute;
    top: 0; right: 0; bottom: 0;
    width: 8rem;
    @include background-gradient(right, rgba(18,18,18,1) 30%, rgba(18,18,18,0.8) 85%, rgba(18,18,18,0) 100%);
  }

  .scroll-button {
    @include size(6rem, 100%);
    &:hover {
      cursor: pointer;
    }
  }

  .arrow-button {
    @include size(auto, 3rem);
  }

  .feed-card-group {
    position: relative;
    @include position(0);
    overflow-x: scroll;
    overflow-y: hidden;
  }

  .card-container {
    position: relative;
    @include size(18rem, 20rem);
    margin: 2rem 1rem;
  }
}

#feeds-show {
  background: $black;

  .show-video-container {
    position: relative;
    top: 0;
    width: 80%;
    padding: $desktop-margin-top 0;
  }
  .related-video-container {
    position: relative;
    top: 0;
    @include size(20%, auto);
    background: none;
  }

  .text-container {
    padding: 2rem 0 0;
  }

  .related-video-background {
    position: absolute;
    @include position(2rem);
    z-index: $z-burrow;
    overflow: hidden;
    border: none;
    @include border-radius($br-image);
  }

  .related-video-filter {
    background: $black-opacity;
  }

  .related-card-container {
    position: relative;
    z-index: $z-front;
    @include size(100%, auto);
    padding: 3rem 0;
  }

  .card-container {
    position: relative;
    width: 16rem;
  }
  @media (max-width: $desktop) {
    .card-container {
      width: 12rem;
    }
  }
}

#feed-index-card {
  .thumbnail-filter {
    position: absolute;
    @include position(0);
    @include background-gradient(top, rgba(0, 0, 0, .0) 47%, rgba(0, 0, 0, .6) 100%);
  }

  .thumbnail-content {
    margin: 2%;
  }
}