// They will automatically be included in application.css.
// Place all the styles related to the mypage controller here.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "globals/sizes";
@import "globals/colors";
@import "globals/mixins";

//########################
//#        MOBILE        #
//########################
#mypage-index-mobile,
#mypage-edit-profile-mobile {
  .opacity-container {
    width: 96%;
    margin: 4% 0 4%;
    padding: 2%;
    background: $gray-opacity;
    @include border-radius($br-min-m);
  }
}

#mypage-index-mobile {
  @include position(0);

  .login-container {
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
  }

  .profile-container {
    position: relative;
    top: 4rem;
    @include size(19rem);
    padding: 0.6rem;
    @include border-radius(50%);
  }

  .info-container {
    margin: 6rem 0 0;
  }

  .info-text-container {
    margin: 4% 0 4%;
  }

  .settings-container {
    margin: 4rem 0 0;
    width: 70%;
  }

  .edit-button {
    padding: 4% 0 4%;
    border: 2px solid $light-gray;
    @include border-radius($br-min-m);
  }

  .edit-profile-width {
    padding:0 2% 0 0;
    @include flex-grow(0.8);
  }
  .edit-settings-width {
    padding: 0 0 0 2%;
    @include flex-grow(0.2);
  }
  .settings-icon {
    @include size(auto, 7rem);
    margin: -1rem 0 0;
  }

  .list-container {
    padding: 0 0 0 2%;
    @include flex-grow(1);
  }
  .list-icon {
    @include size(auto, 6rem);
  }
  .list-text-container {
    padding: 1% 0;
  }

  .mylist-title {
    width: 100%;
    padding: 2% 4%;
  }

  .settings-container {
    div {
      height: 8rem;
      border: 2px solid $light-gray;
      @include border-radius(1rem);
    }
  }

  #mypage-mylist-mobile {
    padding: 0 2%;

    .search-card-mobile {
      padding: 0.5% 0 0;
    }

    .card-devider {
      width: 50%;
    }

    .card-text {
      padding: 0 0 0 3%;
    }
  }
}

#mypage-edit-profile-mobile {
  .save-button {
    position: absolute;
    z-index: $z-most-important;
    top: 0; right: 0;
    padding: 4.5% 4% 3%;
    background: none;
    border: none;
  }

  .edit-container {
    margin: 8% 0 4%;
  }

  .profile-container {
    position: relative;
    @include size(28rem);
    @include border-radius(50%);
    padding: .6rem;
  }

  .profile-img {
    position: absolute;
    top: 3%;
    left: 3%;
    @include size(94%);
    object-fit: cover;
    overflow: hidden;
    @include border-radius(50%);
  }

  .icon-container {
    @include size(14rem, auto);
  }

  .input-icon {
    @include size(auto, 6rem);
  }

  .edit-notice-container {
    position: absolute;
    bottom: -6%; right: -12%;
    @include size(11rem, 8rem);
    border: 4px $white solid;
    @include border-radius(1.5rem);
    background-color: rgba(81, 81, 81, 0.6);
  }

  .edit-input-container {
    width: 100%;
    padding: 3% 4% 3% 0;
  }

  .hr-white {
    @include size(100%, 2px);
    background: $light-gray;
  }

  .edit-input-field {
    height: 100%;
    background: none;
    border: none;
  }
}

#mypage-settings-mobile {
  background: $black;

  .settings-blank {
    background-color: $dark-gray;
    height: 10rem;
  }

  .settings-element-container {
    height: 10rem;
    margin: 0 0 0 8%;
    padding: 2rem 5% 2rem 0;
  }

  .hr-container {
    position: absolute;
    left: 8%;
    width: 92%;
    color: $gray;
  }

  .arrow-icon {
    @include size(auto, 3rem);
  }

  .inquire-button {
    width: 60%;
    margin: 8rem 0;
    padding: 2% 0;
    border: 2px solid $white;
    @include border-radius($br-min-m);
  }
}

#mypage-edit-password-mobile {
  .password-input-container {
    padding: 4%;
  }

  .save-button {
    position: absolute;
    z-index: $z-most-important;
    top: 0; right: 0;
    padding: 4% 4% 0 0;
  }

  .password-input-field {
    padding: 3% 0 5%;
  }

  .input-field {
    width: 100%;
    padding: 4%;
    background: $dark-gray;
    border: none;
    @include border-radius($br-min-m);
  }
}

#mypage-notice-mobile {
  background: $black;

  .notice-container {
    margin: 3% 5%;
    padding: 3% 5%;
    @include border-radius($br-min-m);
    background: $dark-gray;
  }
}

#mypage-privacy-policy-mobile,
#mypage-terms-of-use-mobile {
  background: $black;

  .text-container {
    width: 90%;
    padding: 4% 0;
  }
}

//########################
//#       DESKTOP        #
//########################
#mypage-index {
  background: $black;
  min-height: 70em;

  .mypage-icon {
    @include size(auto, 2rem);
    margin: 0 1rem 0 0;
  }

  .info-text-container {
    padding: 6rem 0;
  }

  .left-group {
    position: relative;
    @include size(26%, auto);
    padding: $desktop-margin-top 0;

    .edit-profile-container {
      @include size(100%, 36rem);
      border-top: 2px solid $white;
      padding: 2rem;
      margin: 0 0 2rem;
    }

    .profile-box {
      @include flex-grow(1);
      @include size(100%, auto);
      .profile-container {
        position: relative;
        @include size(12rem);
        padding: 0.6rem;
        margin: 0 0 2rem;
        @include border-radius(50%);
      }
    }

    .button-container {
      @include size(70%, 4rem);
      border: 1px solid $white;
      @include border-radius($br-min);
    }

    .mypage-info-container {
      @include size(100%, auto);
      border-top: 2px solid $white;
      padding: 2rem;
      .list-text-container {
        padding: 0.8rem 0;
      }
    }
  }

  .mylist-container {
    position: relative;
    @include size(68%, auto);
    margin: $desktop-margin-top 0 0 6%;
    padding: 0 2rem;

    .mylist-card-container {
      display: inline-block;
      width: 49.6%;
      padding: 2rem 1rem 0;
    }
  }
}

#mypage-edit-profile {
  .edit-profile-container {
    @include size(100%, auto);
    @include border-radius($br-min);
    padding: 2rem 0 0;
    .profile-container {
      position: relative;
      @include size(12rem);
      padding: 0.2rem;
      margin: 0 0 2rem;
      @include border-radius(50%);
      &:hover {
        cursor: pointer;
      }
    }

    .edit-notice-container {
      position: absolute;
      bottom: -2%; right: -4%;
      @include size(4.3rem, 3.2rem);
      border: 1px $white solid;
      @include border-radius(0.7rem);
      background-color: rgba(81, 81, 81, 0.6);
    }
  }

  .edit-input-group {
    border-top: 1px solid $dark-gray;
    width: 100%;
    margin: 1rem 0;
  }

  .edit-input-container {
    width: 100%;
    border-bottom: 1px solid $light-gray;
    padding: 1rem;
    .input-field {
      @include flex-grow(1);
      @include size(auto, 100%);
      text-align: right;
      background: none;
      border: none;
    }
  }

  .submit-button {
    width: 40%;
    padding: .6rem;
    background: none;
    border: 2px solid $dark-dark-gray;
    @include border-radius($br-min);
  }
}

#mypage-about,
#mypage-terms-of-use,
#mypage-privacy-policy {
  background: $black;
  min-height: 60em;
  .text-container {
    margin: 4rem 0;
  }

  .content-block {
    padding: 4rem 0;
    .content {
      &:not(:last-of-type) {
        padding: 0 0 4rem;
      }
    }
    &:not(:last-of-type) {
      border-bottom: 1px solid $dark-gray;
    }
  }

  .content-padding {
    padding: 0 0 12rem;
  }
}

//modal position
#edit-profile-modal {
  position: absolute;
  top: 2rem; left: 26rem;
}