// Place all the styles related to the search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "globals/colors";
@import "globals/sizes";
@import "globals/mixins";

//########################
//#        MOBILE        #
//########################
#search-list-container,
#result-list-feed-m,
#result-list-upcoming-m {
  padding: 0 2%;

  .search-card-mobile {
    padding: 0.5% 0 0;
  }

  .card-devider {
    width: 50%;
  }

  .card-text {
    padding: 0 0 0 3%;
  }
}

#result-list-upcoming-m {
  display: none;
}

#search-bar-mobile {
  .search-dummy {
    @include size(100%, 12rem);
    padding: 2%;
    background: $black;
  }

  .search-container {
    position: fixed;
    z-index: $z-front;
    top: 0; left: 0; right: 0;
    padding: 2%;
    background: $black;
    @include transition(all 150ms);
  }

  .input-icon-container {
    width: 50%;
    padding: 0 4%;
    @include transition(all 200ms);
  }

  .search-input-field {
    @include size(100%, 8rem);
    background: $dark-gray;
    border: none;
    @include border-radius(0.5rem);
  }

  .input-icon {
    @include size(auto, 4rem);
  }

  .input-field {
    @include size(50%, 100%);
    background: $dark-gray;
    border: none;
  }

  .input-esc {
    @include size(auto, 4rem);
    object-fit: contain;
    padding: 0 4%;
  }

  .cancel-field {
    @include size(16%, 100%);
    display: none;
  }

  .cancel-container {
    @include size(100%);
  }

  // Search-Bar Event
  .search-bar-up {
    top: -10rem;
  }
}

#search-result-mobile {
  .selector-container {
    @include size(100%, 8rem);
    padding-top: 1%;
  }
  .button-container {
    height: 100%;
  }

  .selector-bar-container {
    @include size(50%, .4rem);
    margin:  0 0 1rem;
    .selector-bar {
      @include size(45%, 100%);
      background: $white;
    }
    @include transition(margin 300ms);
  }

  .info-text-container {
    padding: 4% 0;
    text-align: center;
  }
  .text-spacing {
    line-height: 600%;
    letter-spacing: 1rem;
  }
}

//########################
//#       DESKTOP        #
//########################
#search-result {
  background: $black;
  width: 100%;

  .result-list-container {
    padding: $desktop-margin-top 0;
    width: $wide-width;
  }
  @media (max-width: $desktop) {
    .result-list-container {
      width: $narrow-width;
    }
  }

  .search-card-container {
    display: inline-block;
    position: relative;
    width: 33%;
    padding: 0 2%;
  }
}