@import "globals/sizes";
@import "globals/colors";

#upcoming-index-mobile {
  background: $black;

  .describe-text {
    flex-grow: 8;
  }

  .describe-icon {
    position: absolute;
    top: 4%; right: 2.5%;
  }

  .describe-container {
    position: absolute;
    bottom: 3%; left: 0;
    padding: 0 $thumbnail-elem-mh-m;
  }
}

#upcomings-show-mobile {
  background: $black;

  .width-devision {
    flex-grow: 1;
  }

  .info-container {
    padding-top: 5%;
    padding-bottom: 3%;
    padding-left: $list-container-ph-m;
    padding-right: $list-container-ph-m;
    background: $dark-dark-gray;
  }

  .describe-padding {
    padding-top: 1.5%;
  }

  .describe-date {
    flex-grow: 6;
  }

  .describe-icons {
    flex-grow: 4;
    text-align: right;
  }

  .icon-padding {
    padding-left: 16%;
  }

  .line-up-container {
    padding-top: $list-container-pv-m;
    padding-bottom: $list-container-pv-m;
    padding-left: $list-container-ph-m;
    padding-right: $list-container-ph-m;
    background: $black;
  }

  .line-up-img-container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }

  .artist-profile {
    flex: 0 0 auto;
    width: 36rem;
    height: 36rem;
    margin-left: 1%;
    margin-right: 1%;
    border-radius: $br-image-m;
  }
}