@import "globals/sizes";
@import "globals/colors";
@import "globals/mixins";

//########################
//#        MOBILE        #
//########################
#upcoming-index-mobile {
  background: $black;

  .describe-icon {
    position: absolute;
    top: 4%; right: 2.5%;
  }

  .describe-container {
    position: absolute;
    bottom: 3%; left: 0;
    padding: 0 $thumbnail-elem-mh-m;
  }
}

#upcomings-show-mobile {
  background: $black;

  .info-container {
    padding: 5% $list-container-ph-m 3%;
    background: $dark-dark-gray;
  }

  .describe-padding {
    padding: 1.5% 0 0;
  }

  .describe-date {
    @include flex-grow(6);
  }

  .describe-icons {
    @include flex-grow(4);
  }

  .icon-padding {
    padding: 0 5rem 0 0;
  }

  .line-up-container {
    padding: $list-container-pv-m $list-container-ph-m;
    background: $black;
  }

  .line-up-group-container {
    @include display-flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }

  .artist-profile {
    flex: 0 0 auto;
    @include size(36rem);
    margin: 0 1%;
    @include border-radius($br-image-m);
  }
}

//########################
//#       DESKTOP        #
//########################
#upcoming-index {
  background: $black;

  .upcoming-card-group {
    padding: 4rem 0;
  }
}

#upcoming-ticket-card,
#upcomings-show {
  .upcoming-icon {
    @include size(auto, 4rem);
    padding: 0 1.2rem;
  }
}

#upcoming-ticket-card {
  $collab-width: 6rem;

  .card-container {
    padding: 2rem 0;
  }

  .collab-conatiner {
    position: absolute;
    @include transform(rotate(270deg));
    left: -8rem;
  }
  .ticket-container {
    position: relative;
    @include flex-grow(0.7);
    margin: 0 0 0$collab-width;
    .ticket-img {
      position: relative;
      width: 100%;
    }
    .ticket-video-container {
      position: absolute;
      @include size(64%, auto);
      margin: -1% 0 0 1%;
    }
    .thumbnail-filter {
      position: absolute;
      @include position(0);
      @include background-gradient(bottom, #000000, rgba(0, 0, 0, 0.0) 53%, rgba(0, 0, 0, 0.0));
      padding: 1rem;
    }
  }
  .info-container {
    position: absolute;
    right: 0;
    @include size(25.3%, 100%);
    padding: 3% 4% 4% 0;
    .text-container {
      padding: 2% 0;
    }
    .line-up-container {
      @include size(100%, 26%);
    }
    .line-up-text {
      padding: 4% 0 0;
    }
  }
  .poster-container {
    position: relative;
    @include flex-grow(0.3);
  }
}

#upcomings-show {
  background: $black;

  .show-video-container {
    position: relative;
    top: 0;
    width: 80%;
    padding: $desktop-margin-top 0;
    .text-container {
      position: relative;
      padding: 2rem 0 0;
    }

    .text-padding {
      padding: 1.5rem 0 0;
    }

    $line-up-height: 12rem;
    .line-up-container {
      @include size(100%, $line-up-height);
      margin: 1rem 0;
    }
    .line-up-card {
      position: relative;
      @include size($line-up-height);
      margin: 0 2rem 0 0;
    }
  }

  //related video
  .related-video-container {
    position: relative;
    top: 0;
    @include size(20%, auto);
    background: none;
    .related-video-background {
      position: absolute;
      @include position(2rem);
      z-index: $z-burrow;
      overflow: hidden;
      border: none;
      @include border-radius($br-image);
    }

    .related-video-filter {
      background: $black-opacity;
    }

    .related-card-container {
      position: relative;
      z-index: $z-front;
      @include size(100%, auto);
      padding: 3rem 0;
    }

    .card-container {
      position: relative;
      width: 16rem;
    }
    @media (max-width: $desktop) {
      .card-container {
        width: 12rem;
      }
    }
  }
}