@import "globals/sizes";
@import "globals/colors";
@import "globals/mixins";

#upcoming-index-mobile {
  background: $black;

  .describe-icon {
    position: absolute;
    top: 4%; right: 2.5%;
  }

  .describe-container {
    position: absolute;
    bottom: 3%; left: 0;
    padding: 0 $thumbnail-elem-mh-m;
  }
}

#upcomings-show-mobile {
  background: $black;

  .info-container {
    padding: 5% $list-container-ph-m 3%;
    background: $dark-dark-gray;
  }

  .describe-padding {
    padding: 1.5% 0 0;
  }

  .describe-date {
    @include flex-grow(6);
  }

  .describe-icons {
    @include flex-grow(4);
  }

  .icon-padding {
    padding: 0 5rem 0 0;
  }

  .line-up-container {
    padding: $list-container-pv-m $list-container-ph-m;
    background: $black;
  }

  .line-up-group-container {
    @include display-flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }

  .artist-profile {
    flex: 0 0 auto;
    @include size(36rem);
    margin: 0 1%;
    @include border-radius($br-image-m);
  }
}