$('body').append(
    '<div id="login-modal" class="modal">\
      <div class="_big-modal-container">\
      <%= j render file: "/devise/sessions/new_mobile.html.erb" %>\
      </div>\
    </div>'
);
var loginModal = $('#login-modal');
loginModal.modal();
loginModal.on('hide.bs.modal', function() {loginModal.remove()});